/**
 * global
 */

html,
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    background-color: #FAFAFA;
    font-size: 16px;
    position: relative;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background-color: #e0e0e0;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .8em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-image: none;
    border-radius: .2rem;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15)inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.btn-link {
    background: none;
    color: rgba(30, 87, 153, 1);
    padding: 0;
    text-decoration: underline;
}

.btn:hover {
    background-color: #e8e8e8;
    background-image: none;
    box-shadow: '';
    color: rgba(0,0,0,.8);
}

.btn:active {
    background-color: #ccc;
    background-image: '';
    color: rgba(0,0,0,.8);
    box-shadow: 0 0 0 1px transparent inset,0 1px 4px 0 rgba(39,41,43,.15);
}

.absolute-center {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

/**
 * structure
 */
.wrapper {
    height: 100%;
}

.sidebar,
.content {
    position: fixed;
}

.sidebar {
    bottom: 0;
    display: none;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100px;
    z-index: 9999;
}

.content {
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.is-ready .sidebar {
    display: block;
}

.is-ready .content {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 100px;
    right: 0;
    top: 0;
}

.menu {
    background: #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .brand-name {
    background: #000;
    color: #fff;
}

.menu .cog {
    background: #333;
    color: #fff;
}

.menu .fa-cog::before {
    color: #fff;
    font-size: 3rem;
}

.menu .menu-item {
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100%;
}

.menu .menu-item a {
    color: #000;
    display: block;
    height: 100%;
    line-height: 100px;
    text-decoration: none;
}

.horizontal-menu .menu-item {
    float: left;
    width: auto;
}

.row-fluid {
    margin: 10px 0;
}

.row-fluid .col {
    float: left;
}

.span2 {
    margin: 0 10px;
    width: calc(100% / 12 * 2 - 20px);
    display: inline-block;
}

.span3 {
    margin: 0 10px;
    width: calc(100% / 12 * 3 - 20px);
    display: inline-block;
}

.span4 {
    margin: 0 10px;
    width: calc(100% / 12 * 4 - 20px);
    display: inline-block;
}

.span6 {
    margin: 0 10px;
    width: calc(100% / 12 * 6 - 20px);
    display: inline-block;
}

.span8 {
    margin: 0 10px;
    width: calc(100% / 12 * 8 - 20px);
    display: inline-block;
}

.span9 {
    margin: 0 10px;
    width: calc(100% / 12 * 9 - 20px);
    display: inline-block;
}

.span12 {
    margin: 0;
    width: 100%;
    display: inline-block;
}

/**
 * general style
 */

.hide {
    display: none;
}

.file-importer {
    position: relative;
}

.file-importer input[type="file"] {
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.pure-list {
    list-style: none;
}

.initialization {
    background-color: #fff;
    height: 80%;
    overflow: scroll;
    text-align: center;
    width: 80%;
}

.initialization h1 {
    background: #ccc;
    margin-top: 0;
    padding: 5px 10px;
    text-align: left;
}

.error {
    border: 2px solid #F00;
    box-sizing: border-box;
}

.sticky-bottom {
    bottom: 0;
    position: absolute;
}

.studio-container {
    height: 100%;
    padding: 25px;
    position: relative;
}

.model-displayer {
    background: #000;
    height: 90%;
    width: 100%;
}

.operating-panel {
    background: rgba(255, 255, 255, .7);
    position: absolute;
    width: 300px;
}

.operating-panel .panel {
    padding: 10px;
}

.operating-panel .param-icon {
    color: #777;
    font-size: 2rem;
    line-height: 5rem;
}

.operating-panel .param {
    height: 5rem;
}