/**
 * global
 */

html,
body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
body {
    background-color: #777;
    font-size: 16px;
    position: relative;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(30, 87, 153, .5) 100%);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    outline: none;
    padding: 20px;
    position: relative;
    text-decoration: none;
}

.btn:hover::after {
    background: rgba(255, 255, 255, .1);
    border-radius: 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn:active {
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, .5) 0%, rgba(30, 87, 153, 1) 100%);
}

.absolute-center {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

/**
 * structure
 */

/**
 * general style
 */
.pure-list {
    list-style: none;
}

.initialization {
    background-color: #fff;
    height: 80%;
    overflow: scroll;
    text-align: center;
    width: 80%;
}

.initialization h1 {
    background: #ccc;
    margin-top: 0;
    padding: 5px 10px;
    text-align: left;
}

.error {
    box-sizing: border-box;
    border: 2px solid #F00;
}