.usb {
    height: 100%;
}

.usb .usb-sidebar {
    width: 200px;
    background-color: #FAFAFA;
    height: 100%;
    float:left;
}

.usb .usb-sidebar-header {
    height: 40px;
    line-height: 40px;
    background-color: #FFF;
    color: #424242;
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: 0.3px;
    padding-left: 18px;
}

.usb .folder,
.usb .file {
    height: 56px;
    border-bottom: 1px #C4C4C4 solid;
    padding-top: 10px;
    padding-left: 18px;
}

.usb .folder div,
.usb .file div {
    display: inline-block;
    vertical-align: middle;
}

.usb .folder .folder-icon {
    margin-top: 2px;
}

.usb .folder .folder-name,
.usb .file .file-name {
    padding-left: 5px;
}

.usb .folder .expand-icon {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}

.usb .file.level2 {
    padding-left:38px;
}

.usb .usb-sidebar-footer {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    /*background-color: #00C853;
    cursor: pointer;*/
}

.usb .usb-sidebar-footer .btn-print {
    padding: 30px 0;
}

.green {
    background-color: #00C853;
    color: #FFF;
}

.green:hover {
    background-color: #00A946;
    color: #FFF;
}

.full-width {
    width: 100%;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

.no-border-radius {
    border-radius: 0;
}


.usb .file-content {
    float:left;
}

.usb .file-detail {
    width: 100%;
    height: 123px;
    background-color: #4A4A4A;
}

.usb .file-detail .file-name {
    width: 262px;
    height: 100%;
    background-color: #5C5142;
    float: left;
    text-align: center;
    line-height: 123px;
    letter-spacing: 0.3px;
    font-size: 16px;
    color: #F5F5F5;
}

.usb .file-detail .detail-info {
    float:left;
    width: calc(100% - 262px);
    margin-top: 30px;
}

.usb .detail-info .row-fluid {
    margin: 0 0 7px 40px;
}

.usb .detail-info .span2 {
    width: 50px;
    margin-right: 20px
}

.usb .detail-info .info-header {
    font-size: 14px;
    color: #9E9E9E;
    text-align: right;
}

.usb .detail-info .info-content {
    font-size: 14px;
    color: #EEEEEE;
}