.beambox-studio {
    padding: 5px;
    .left-panel {
        margin: 0 0 0 30px;
        z-index: 1;
        position: relative;
        top: calc(50% - 150px);
        pointer-events: none;
        .ui-dialog-menu-item {
            .dialog-label {
                min-width: auto;
                div {
                    pointer-events: visible;
                }
            }
            .dialog-window {
                pointer-events: visible;
                .slider {
                    width: 110px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    .object-panels {
        display: absolute;
        box-shadow: 1px 1px 5px #333;
        transition: left .1s ease, top .1s ease, opacity .1s ease;
        &.unselectable {
            opacity: 0.5;
            user-select: none;
            pointer-events: none;
        }
        .object-panel {
            @include flexbox();
            font-size: 20px;
            transition: all .1s ease;
            z-index: 1;
            will-change: top, left, transform;
            .accordion-body {
                overflow: visible;
                position: relative;
                .ui.ui-control-unit-input-v2 {
                    .unit {
                        font-size: 10px;
                        margin-left: -30px;
                    }
                    input[disabled] {
                        background-color: #f2f2f2;
                        cursor: not-allowed;
                    }
                }
                &.with-lock {
                    display: flex;
                    >div {
                        align-items: center;
                        display: inline-block;
                    }
                    .lock {
                        margin-left: 15px;
                        display: inline-flex;
                        justify-content: center;
                        i {
                            font-size: 27px;
                            color: #999;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                    .ui.ui-control-unit-input-v2 {
                        input {
                            width: 100px;
                        }
                    }
                }
                .shading-checkbox {
                    color: #666;
                    margin-left: 17px;
                    font-size: 22px;
                    cursor: pointer;
                }
            }
            .caption {
                margin: 0;
            }
            .accordion .caption .value {
                color: #999;
            }
            .controls {
                background: #FFFFFF;
                display: block;
                margin: 0;
                padding: 0 20px;
                width: 240px;
                border: 1px #ddd solid;
                .control {
                    .text-center.header {
                        color: #999;
                    }
                    font-size: 20px;
                    margin: 0 0 10px 0;
                    .input-fullsize {
                        margin: 0;
                        width: 100%;
                    }
                    .input-halfsize {
                        display: inline-block;
                        width: 45%;
                        input {
                            width: 80%;
                        }
                    }
                    >div {
                        margin-right: unset;
                    }
                    input[type='range'] {
                        border: unset;
                    }
                }
            }
            .caption {
                @include flexbox();
                color: $primaryColor;
                font-size: 12px;
                line-height: 30px;
                justify-content: space-between;
            }
        }
    }
    #svg_editor {
        color: #000;
        #workarea {
            border: none;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            #svgcanvas {
                background: $backgroundColor;
            }
        }
        #sidepanels {
            border: none;
            width: 151px;
            bottom: initial;
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: $backgroundColor;
            box-shadow: 0px 0px 5px black;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
            #layerpanel {
                display: block;
                overflow: initial;
                #layerbuttons {
                    padding: 0;
                    width: 129px;
                    .layer_button {
                        padding: 0 2.5px;
                        width: initial;
                        height: initial;
                    }
                }
                #layerlist {
                    .layervis {
                        text-align: center;
                    }
                    tr.layersel, tr.layersel.layer:hover{
                        color: white;
                        background-color: #444;
                        font-weight: lighter;
                    }
                    tr.layer:hover {
                        color: black;
                        background-color: #ddd;
                    }
                }
                .selLayerBlock {
                    margin-top: 10px;
                    margin-bottom: 15px;
                    #selLayerNames {
                        width: 100%;
                        background-color: #444;
                        color: #ddd;
                        padding: 3px 3px 3px 13px;
                        cursor: point;
                    }
                }
            }
            #sidepanel_handle {
                @include force-hide();
            }
        }
        #layer-laser-panel-placeholder {
            min-height: 180px;
            margin-top: 20px;
            .mode {
                border: 1px #333 solid;
                margin-bottom: 10px;
                label {
                    display: inline-block;
                    text-align: center;
                    width: 50%;
                    span {
                        display: inline-block;
                        width: 100%;
                        padding: 5px;
                        font-weight: bold;
                        color: #333;
                        background-color: #ddd;
                        cursor: pointer;
                    }
                    input:checked+span {
                        color: #ddd;
                        background-color: #444;
                        transition: background-color .3s ease;
                    }
                }
            }
            .ui.ui-control-unit-input-v2 {
                margin-bottom: 7px;
                .unit {
                    margin-left: -40px;
                    font-size: 10px;
                }
                input {
                    margin-left: 10%;
                    width: 90%;
                    padding: 3px 0px 3px 12px;
                }
            }
        }
        #main_button,
        #tools_top,
        #tools_left,
        #tools_bottom {
            @include force-hide();
        }
    }
    #svg_source_editor,
    #docprops,
    #svg_prefs {
        @include force-hide();
    }
}

#tools_top {
    z-index: 91;
}

#grid_mask {
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    background: #E0E0E0;
    width: 100%;
    height: 90px;
}