.beambox-studio {
    padding: 5px;

    .left-panel {
        margin: 0 0 0 30px;
        z-index: 1;
        position: relative;
        top: calc(50% - 150px);
        pointer-events: none;
        .ui-dialog-menu-item {
            .dialog-label {
                min-width: auto;
                div {
                    pointer-events: visible;
                }
            }
            .dialog-window {
                pointer-events: visible;
                .slider {
                    width: 110px;
                    padding-left: 10px;
                    padding-right: 10px;
                }         
            }
        }
    }

    .object-panels {
        display: absolute;
        box-shadow: 1px 1px 5px #333;
        margin-top: 10px;
        margin-left: 10px;
        .object-panel {
            @include flexbox();
            font-size: 20px;
            transition: all .1s ease;
            z-index: 1;
            will-change: top,left,transform;
    
            .accordion-body {
                overflow: visible;
                position: relative;
    
                .icon-locker {
                    bottom: 0;
                    cursor: pointer;
                    height: 20px;
                    left: 100%;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    width: 20px;
                }
                .ui.ui-control-unit-input-v2 {
                    .unit {
                        font-size: 10px;
                        margin-left: -30px;
                    }
                }
            }
    
            .caption {
                margin: 0;
            }
    
            .controls {
                background: #FFFFFF;
                display: block;
                margin: 0;
                padding: 0 20px;
                width: 240px;
                border: 1px #ddd solid;                
                .control {
                    font-size: 20px;
                    margin: 0 0 10px 0;
        
                    .input-fullsize {
                        margin: 0;
                        width: 100%;
                    }

                    .input-halfsize {
                        display: inline-block;                        
                        width: 45%;
                        input {
                            width: 80%;
                        }
                    }
                    > div {
                        margin-right: unset;
                    }

                    input[type='range'] {
                        border: unset;
                    }
    
                }
            }
    
            .caption {
                @include flexbox();
                color: $primaryColor;
                font-size: 12px;
                line-height: 30px;
                justify-content: space-between;
            }
        }
    }

    #svg_editor {
        color: #000;

        #workarea {
            border: none;
            top: 0px;
            left: 0px;
            right: 0px;
            #svgcanvas {
                background: $backgroundColor;
            }
        }

        #sidepanels {
            border: none;
            width: 180px;
            bottom: initial;
            padding-top: 35px;
            background-color: $backgroundColor;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
            #layerpanel {
                overflow: initial;

                #layerbuttons {
                    padding: 0;
                    width: 129px;
                    .layer_button{
                        padding: 0 3px;
                        width: initial;
                        height: initial;
                    }
                }
            }
            
            #sidepanel_handle {
                @include force-hide();
            }
        }

        #main_button, #tools_top, #tools_left, #tools_bottom, #rulers {
            @include force-hide();
        }
    }

    #svg_source_editor, #docprops, #svg_prefs {
        @include force-hide();
    }
}