.beambox-studio {
    svg:not(:root) {
        overflow: visible;
    }
    #svg_editor:not(.color) #svgcontent{
        filter: saturate(0%);
    }
    user-select: none;
    padding: 5px;
    .left-toolbar {
        background: #F8F8F8;
        border: 1px solid #E0E0E0;
        position: absolute;
        top: 85px;
        left: 0px;
        height: 100%;
        .tool-btn {
            text-align: center;
            line-height: 26px;
            img {
                height: 26px;
            }
            margin: 15px 7px;
            height: 40px;
            width: 40px;
            opacity: 0.5;
            &.active {
                opacity: 1.0;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .preview {
            #clear-preview-graffiti-button-placeholder {
                background: #999;
                color: white;
                position: absolute;
                left: 90px;
                top: 30px;
                width: 110px;
                height: 25px;
                z-index: 2;
                border-radius: 20px;
                &.active {
                    background: #0099cc;
                }
                .text {
                    position: absolute;
                    top: 0px;
                    left: 31px;
                    width: 80px;
                    height: 36px;
                    line-height: 25px;
                    font-size: 9pt;
                    text-align: center;
                }
                img {
                    margin: 4px 0px 0px 15px;
                    height: 16px;
                    filter: brightness(0) invert(100%);
                }
            }

            #image-trace-button {
                background: #999;
                color: white;
                position: absolute;
                left: 215px;
                top: 30px;
                width: 80px;
                height: 25px;
                z-index: 2;
                border-radius: 20px;
                &.active {
                    background: #0099cc;
                }
                .text {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 80px;
                    height: 36px;
                    line-height: 25px;
                    font-size: 9pt;
                    text-align: center;
                }
                img {
                    margin: 4px 0px 0px 15px;
                    height: 16px;
                    filter: brightness(0) invert(100%);
                }
            }
        }
    }
    .left-panel {
        position: relative;
        z-index: 1;
        display: inline-flex;
        flex-direction: column;
        .option {
            width: 140px;
            padding: 10px 6px;
            color: #888;
            font-size: 1.7rem;
            cursor: pointer;
            &:hover {
                background: #888;
                color: #E0E0DF;
            }
            &.preview-btn {
                display: inline-block;
                width: auto;
                &.preview-mode-on {
                    background: #444;
                    color: #E0E0DF;
                }
            }
        }
        .clear-preview {
            cursor: pointer;
            position: relative;
            left: 5px;
            color: #888;
            &:hover {
                cursor: pointer;
                color: #333;
                font-size: bold;
            }
        }
        .ui-dialog-menu-item {
            .dialog-label {
                width: 140px;
                border-radius: 1px;
                transition: all .1s ease;
                min-width: auto;
                div {
                    pointer-events: visible;
                }

            }

            .dialog-window {
                pointer-events: visible;
                .slider {
                    width: 110px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        #overview_window_content {
            border-radius: 2px;
            opacity: 0.8;
            transition: opacity 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .advanced-panel {
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
        width: 440px;
        padding: 0px;
        .main-content {
            padding: 20px;
            .title {
                color: #626262;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-bottom: 15px;
            }
            .control {
                display: flex;
                align-items: center;
                .label {
                    width: 120px;
                }
                .slider {
                    width: 150px;
                }
                .value {
                    margin-left: 10px;
                }
                .switch-container {
                    margin-left: 0;
                }
            }
        }

        .footer {
            height: 59px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 0px;
            border-top: 1px solid #DDD;
            .btn {
                margin-left: 12px;
                margin-right: 0px;
                line-height: 30px;
                &:first-of-type {
                    margin-right: 12px;
                }
            }
        }
    }
    .object-panels,
    .tool-panels {
        display: absolute;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
        border-radius: 2px;
        transition: left .1s ease, top .1s ease, opacity .1s ease;
        &.unselectable {
            opacity: 0.5;
            user-select: none;
            pointer-events: none;
        }
        .object-panel,
        .tool-panel {
            @include flexbox();
            font-size: 20px;
            transition: all .1s ease;
            z-index: 1;
            will-change: top, left, transform;
            .accordion-body {
                overflow: visible;
                position: relative;
                .ui.ui-control-unit-input-v2 {
                    .unit {
                        font-size: 10px;
                        margin-left: -30px;
                    }
                    input[disabled] {
                        background-color: #f2f2f2;
                        cursor: not-allowed;
                    }
                }
                &.with-lock {
                    display: flex;
                    >div {
                        display: inline-block;
                    }
                    .lock {
                        padding-bottom: 7px;
                        color: #999;
                        margin-left: 10px;
                        label {
                            font-size: 27px;
                            cursor: pointer;
                            &:hover {
                                color: black;
                            }
                            i {
                                margin-left: 5px;
                                transform: scale(-1, 1);
                                &.locked {
                                    color: #444;
                                }
                                &.unlocked {
                                    color: #dddddd;
                                }
                            }
                        }
                    }
                    .ui.ui-control-unit-input-v2 {
                        input {
                            width: 100px;
                        }
                    }
                }
                .shading-checkbox {
                    color: #666;
                    margin-left: 17px;
                    font-size: 22px;
                    cursor: pointer;
                }
            }
            .caption {
                margin: 0;
            }
            .accordion {
                .shading-checkbox {
                    cursor: pointer;
                    font-size: 18px;
                }
            }
            .accordion .caption .value {
                color: #999;
            }
            .controls {
                background: #FFFFFF;
                display: block;
                margin: 0;
                padding: 0 20px;
                width: 240px;
                border: 1px #ddd solid;
                .control {
                    .text-center.header {
                        color: #999;
                    }
                    font-size: 20px;
                    margin: 0 0 10px 0;
                    .input-fullsize {
                        margin: 0;
                        width: 100%;
                    }
                    .input-halfsize {
                        display: inline-block;
                        width: 45%;
                        input {
                            width: 80%;
                        }
                    }
                    >div {
                        margin-right: unset;
                    }
                    input[type=range] {
                        border: unset;
                        cursor: pointer;
                    }
                }
            }
            .caption {
                @include flexbox();
                color: $primaryColor;
                font-size: 12px;
                line-height: 30px;
                justify-content: space-between;
            }
            &.text-panel {
                .controls {
                    padding-bottom: 10px;
                    .control {
                        margin-bottom: 0;
                        .fill-checkbox {
                            color: #666;
                            margin-left: 17px;
                            font-size: 22px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .tool-block {
        font-size: 20px;
        transition: all .1s ease;
        z-index: 1;
        color: #999;
        background: #FFFFFF;
        display: block;
        margin: 0;
        padding: 0 20px;
        width: 240px;
        border: 1px #ddd solid;
        .btn-h-group {
            width: 100%;
            .btn {
                font-size: 1.3rem;
                height: 2.8rem;
                line-height: calc(2.8rem - 4px);    // borders are 2px
                margin: 0 .6rem 0 0;
                max-width: 13rem;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    #svg_editor {
        color: #000;
        #workarea {
            border: none;
            top: 105px;
            left: 15px;
            right: 0px;
            bottom: 0px;
            #svgcanvas {
                background: $backgroundColor;
            }
        }
        #sidepanels {
            border: none;
            position: absolute;
            width: $sidePanelWidth;
            padding: 0px;
            opacity: 1.0;
            z-index: 2;
            top: 85px;
            height: calc(100% - 85px);
            right: -$sidePanelWidth;
            transition: opacity 0.3s;
            &:hover {
                opacity: 1;
                z-index: 4;
            }
            #layerpanel {
                background-color: $backgroundColor;
                display: block;
                overflow: initial;
                border: 1px $panelBorderColor solid;
                border-top: 0;
                border-radius: 2px;

                #layerbuttons {
                    padding: 0;
                    width: 100%;
                    height: 20px;
                    border: none;
                    border-bottom: 1px solid #E0E0E0;
                    .layer_button {
                        font-size: 12px;
                        padding: 3px 0;
                        &:hover {
                            background-color: #808080;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
                #layerlist {
                    width: 100%;
                    .layercolor div{
                        position: relative;
                        top: 2px;
                        border: 2px solid white;
                        border-radius: 2px;
                        background: black;
                        width: 14px;
                        height: 14px;
                        margin-left: 10px;
                        display: inline-block;
                    }
                    .layervis {
                        text-align: center;
                    }
                    tr.layer {
                        height: 40px;
                        .layername {
                            padding: 3px 0px;
                        }
                        &.layersel, &.layersel:hover {
                            color: white;
                            background-color: #444;
                            font-weight: normal;
                        }

                        &.mark, &.mark:hover {
                            color: white;
                            border: 1px solid #666 !important;
                            background-color: #666 !important;
                            font-weight: normal;
                        }

                        &:hover {
                            color: black;
                            background-color: #ddd;

                        }
                        &:not(.layersel):first-child {
                            &:hover {
                                border-top: 1px #999 solid;
                            }
                            border-top: 1px white solid;
                        }
                    }
                }
            }
            &.layerblock-activated {
                #layerlist_container {
                    height: calc(100vh - 505px);
                }
            }
            #sidepanel_handle {
                @include force-hide();
            }
            .btn-go {
                background: #4D4D4D;
                font-size: 23px;
                width: $sidePanelWidth;
                height: 100px;
                border: 1px solid #333;
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
            } 
        }
        .selLayerBlock {
            background: #F8F8F8;
            padding: 15px;
            margin-top: -1px;
            border: 1px solid #E0E0E0;
            #selLayerNames {
                background-color: #FFFFFF;
                height: 30px;
                width: 100%;
                padding: 0 0 0 10px;
                background-position: calc(100% - 4px);
                cursor: pointer;
            }
            #selLayerLabel {
                margin: -15px -15px 15px -15px;
                display: block;
                padding: 10px 15px;
                background: #F2F2F2;
                border-bottom: 1px #E0E0E0 solid;
                color: #333;
                font-weight: bold;
            }
        }
        #layer-laser-panel-placeholder {
            background-color: #F8F8F8;
            height: 100%;
            margin-top: -1px;
            border: 1px $panelBorderColor solid;
            border-radius: 2px;
            .layername {
                padding: 10px 15px;
                background: #F2F2F2;
                border-bottom: 1px $panelBorderColor solid;
                text-align: left;
                color: #333;
                font-weight: bold;
            }
            .layerparams {
                padding: 10px 0;
            }
            .panel {
                margin-top: 20px;
                padding-left: 15px;
                padding-right: 5px;
                clear: both;

                .ui.ui-control-unit-input-v2 {
                    width: 60%;
                    float: right;
                }
            }
            .ui.ui-control-unit-input-v2 {
                margin-bottom: 7px;
                .unit {
                    margin-left: -40px;
                    font-size: 10px;
                }
                input {
                    outline: none;
                    border: 1px #E0E0E0 solid;
                    border-radius: 2px;
                    width: 90%;
                    padding: 3px 0px 3px 12px;
                }
            }

            .controls {
                overflow: hidden;

                .control {
                    line-height: 0;
                    width: 100%;
                }
                .label {
                    font-size: 10pt;
                    color: #000;
                    line-height: 16px;
                    padding-left: 10px;
                }
                .dropdown-container {
                    position: static;
                    width: 100%;

                    :focus {
                        outline: none;
                    }

                    select {
                        background-color: #fff;
                        font-size: 10pt;
                        color: #000;
                        width: calc(100% - 29px);
                        margin-left: 15px;
                        margin-top: 5px;
                        margin-bottom: 7px;
                    }
                }

                .first-child-selected {
                    select {
                        background-image: url("../img/icon-3d-arrow-down.png");
                        background-position: calc(100% - 4px) center;
                        background-repeat: no-repeat;
                        background-size: 8px 8px;
                    }
                }
            }

            .more-config-panel {
                box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                background: #FFF;
                padding: 20px 20px 0;
                width: 440px;

                .title {
                    color: #626262;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18px;
                }

                .config-list {
                    border: 2px solid #E0E0DF;
                    height: 110px;
                    margin-top: 20px;
                    overflow-y: auto;
                    width: 100%;

                    .config-entry {
                        border-bottom: 1px solid #E0E0DF;
                        color: $primaryColor;
                        cursor: pointer;
                        height: 40px;
                        line-height: 40px;

                        span {
                            margin-left: 10px;
                        }
                    }
                    .selected {
                        background-color: #E0E0E0;
                        color: #555;
                    }
                }

                .controls {
                    padding: 20px 0;

                    .control {
                        color: #888;
                        display: flex;
                        font-size: 13px;
                        height: 40px;
                        align-items: center;
                        justify-content: space-around;

                        .label {
                            font-size: 11px;
                            text-transform: uppercase;
                            color: #888;
                            line-height: 1em;
                            width: 100px;
                            align-self: center;
                        }

                        .value-text {
                            width: 120px;
                            margin: 5px 0 5px 5px;
                            padding: 0 5px;

                            &::after {
                                content: attr(data-tail);
                            }
                        }
                    }
                }

                .form {
                    margin: 0 0 10px 0;
                }

                .footer {
                    border: none;
                    border-top: 1px solid #ccc;
                    position: static;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;

                    div {
                        line-height: 10px;
                    }

                    .right {
                        float: right;
                        padding: 4% 0;
                    }

                    .left {
                        float: left;
                        padding: 4% 0;
                    }

                    .btn {
                        border-radius: 0;
                        font-size: 15px;
                        line-height: 30px;
                        margin: 0;
                        &:hover {
                            border: 2px solid #424242;
                            color: #424242;
                        }
                    }

                    .btn:first-child {
                        margin: 0 10px 0 0;
                    }
                }
            }

            .save-config-panel {
                box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                background: #FFF;
                padding: 20px 20px 0;
                width: 440px;

                .title {
                    color: #626262;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18px;
                }

                .name {
                    color: #909090;
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;

                    span {
                        flex: 1;
                    }

                    input {
                        border: 2px solid #ccc;
                        flex: 2;
                        padding: 3px;
                        margin-left: 30px;
                    }
                }

                .form {
                    margin: 0 0 10px 0;
                }

                .footer {
                    padding: 10px 0;
                    border: none;
                    border-top: 1px solid #ccc;
                    position: static;

                    .btn {
                        margin: 0;
                        min-width: 40px;
                        line-height: 30px;
                        flex: initial;

                        &.btn-apply {
                            margin: 0;
                        }
                    }
                }
            }

            .custom-presets-wrapper {
                background: #FFF;
                overflow: scroll;
                padding: 0 20px;
                width: 440px;

                .custom-presets-list {
                    border: 2px solid $backgroundColor;
                    height: 110px;
                    list-style: none;
                    overflow: scroll;
                    padding: 0;

                    &:empty {
                        @include flexbox();
                        background: $primaryColor;
                        color: $backgroundColor;
                        align-items: center;
                        justify-content: center;

                        &::after {
                            content: attr(data-empty-message);
                        }
                    }

                    input[type="radio"] {
                        display: none;

                        &:checked + .preset-item-name {
                            background-color: #E0E0E0;
                            color: #FFF;
                            i {
                            visibility: visible;
                            }
                        }
                    }

                    .preset-item-name {
                        border-bottom: 1px solid $backgroundColor;
                        color: $primaryColor;
                        cursor: pointer;
                        height: 40px;
                        line-height: 40px;
                        margin: 0;
                        padding: 0 0 0 10px;
                        i {
                        float: right;
                        visibility: hidden;

                        }
                    }
                }

                .custom-preset-buttons {
                    height: 69px;
                    position: static;
                    justify-content: flex-end;

                    .btn-default {
                        border-radius: 0;
                        font-size: 15px;
                        height: 30px;
                        line-height: 26px;
                        min-width: 66px;
                    }
                }
            }
        }
        #ruler_unit_shower {
            top: 89px;
            right: 0px;
            padding-left: 10px;
            padding-right: 8px;
            color: #333;
            font-size: 12px;
            font-weight: 300;
        }
        #main_button,
        #tools_left,
        #tools_bottom {
            @include force-hide();
        }
        #tools_top {
            opacity: 0;
            // if display: none, text mode will break.
            // this is just a quick workaround. maybe using @include force-hide() is more beautiful.
        }
    }
    #dialog_box {
        .overlay {
            opacity: 0.1;
        }
        #dialog_container {
            color: #626262;
            border-radius: 0;
            border:none;
            background-color: #f8f8f8;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
            padding: 18px;
            height: initial;
            width: 400px;
            margin-left: -200px;
            #dialog_content {
                font-size: 18px;
                margin: 0;
                margin-bottom: 10px;
                background-color: unset;
                border: none;
                height: initial;
            }
            #dialog_buttons {
                input[type=text] {
                    font-size: 16px;
                    padding-left: 10px;
                }
                input[type=button] {
                    font-size: 1.3rem;
                    padding: 6px 12px;
                    margin-top: 10px;
                    background-color: unset;
                    color: #C0C0C0;
                    border: 2px solid #C0C0C0;
                    &:hover {
                        border: 2px solid #424242;
                        color: #424242;
                    }
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }

    #svg_source_editor,
    #docprops,
    #svg_prefs
    //#cmenu_canvas
    {
        @include force-hide();
    }

    #tools_top {
        z-index: 91;
    }

}

.rainbow-sidebar {
    position: relative;
    background: linear-gradient(to right, #89d307 0%,#9ede05 65%,#fff600 75%,#c50101 100%);
    width: 100px;
    height: 6px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    clear: both;
    margin: 20px 15px 20px 0px;
    width: calc(188px - 30px);
    .rainbow-drag {
        width: 14px;
        height: 14px;
        border-radius: 8px;
        background: white;
        border: 1px solid #E2E2E2;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        top: 0;
        left: 60%;
        z-index: 2;
        cursor: -webkit-grab;
    }
    &:active {
        cursor: -webkit-grabbing;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        background: linear-gradient(to bottom, rgba(255,255,255,0.5) 20%, rgba(0,0,0,0.1) 90%);
        width: 100%;
        height: 100%;
        border-radius:5px;
        display: block;
    }
}

.modal-camera-calibration {
    .img-center {
        background-size: cover !important;
        background-position: 50% 50% !important;
        width: 50%;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        position: relative;
        .virtual-square {
            position: absolute;
            border: 2px dashed #FF3300;
        }
    }
    .controls {
        float: left;
        margin-left: 20px;
        label {
            font-weight: bold;
            display: inline-block;
            color: #555;
            width: 70px;
        }
        .ui-control-unit-input-v2 {
            .unit {
                margin-left: -30px;
                margin-right: 30px;
                font-size: 10px;
            }
        }
        .control > div {
            margin-right: 0;
        }
    }
    .btn-alone-right, .btn-alone-right-1 {
        background: #555 !important;
        border: 0;
        color: white;
        &:hover {
            opacity: 0.8;
        }
    }
}