.settings-cloud {
    background-color: #F5F5F5;
}

.cloud {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: #FFF;
    box-shadow: 0px 0px 12px 0px rgba(50%,50%,50%,0.8);
    text-align: center;

    .container {
        height: 430px;

        .icon {
            margin-top: 60px;
        }

        .title {
            color: #777777;
            margin-top: 80px;
            margin-bottom: 40px;

            h2 {
                font-size: 30px;
                font-weight: 500;
                margin-top: 0px;
            }

            h3 {
                font-size: 30px;
                font-weight: 300;
                margin-bottom: 5px;
            }
        }

        .no-margin {
            margin: 0px;
        }

        .row {
            padding-bottom: 20px;

            .controls {
                display: inline-block;
                padding: 0 15px;

                .label {
                    text-align: left;
                    margin-left: 10px;
                    line-height: 20px;
                }
            }
        }

        .description {
            margin-top: 60px;
            margin-bottom: 20px;

            h3 {
                letter-spacing: 1px;
            }
        }
    }

    .footer {
        hr {
            width: 80%;
        }
        .btn {
            width: 130px;
        }

        .actions {
            margin-top: 15px;
            .btn-cancel {
                background-color: #FFF;
                color: #999;
                border: #BBB 2px solid;
            }
            .btn-default {
                background-color: #999;
                color: #FFF;
                border: #999 2px solid;
            }
        }
    }

    .middle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h3 {
        color: #777777;
        font-weight: 300;
    }

    label {
        color: #999;
    }

    .pointer {
        cursor: pointer;
    }

    .controls {
        color: #999;
        font-size: 14px;

        input[type="text"] {
            width: 300px;
            height: 40px;
            border-width: 3px;
            margin: 10px;
            font-size: 16px;
            font-weight: 500;
        }
        input[type="checkbox"] {
            width: 20px;
            height: 40px;
            vertical-align: middle;
        }
        select {
            width: 500px;
            height: 250px;
            background-image: none;
            padding: 0;
            margin: 0;

            option {
                font-family: 'Courier New';
                font-weight: 500;
                padding: 5px;
                background: #FFF;
            }
        }
        a {
            font-size: 16px;
        }

        .forget-password {
            padding-top: 15px;
        }

        .error {
            border: none;
            text-align: left;
            margin-left: 35px;
            color: red;
            position: absolute;
        }
    }

    .forgot-password {
        input[type="text"] {
            width: 400px;
        }
    }

    .sign-up-description {
        margin-top: 50px;
        color: #999999;

        a {
            font-size: 16px;
        }
    }

    .bind-machine {
        .user-info {
            margin-top: 35px;
            .name {
                font-weight: bold;
                margin: 5px;
            }
        }
    }
}
