/**
 * Laser
 */
.laser-studio {

    .hasShadow {
        .modal-body {
            box-shadow: 0 4px 40px 0px rgba(0, 0, 0, .5);
        }
    }

    .laser-device-selection-popup {
        bottom: 4.3rem;
        right: 15rem;
    }

    .file-importer {
        @include flexbox();
        background: #fff;
        color: #E1E1E0;
        font-size: 23px;
        height: 37.8px;
        top: -78px;
        width: 126.9px;
        align-items: center;
        justify-content: center;

        &:after {
            border: solid rgba(0, 0, 0, 0);
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 22px 13px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -15px;
            pointer-events: none;
            position: absolute;
            top: 100%;
            width: 0;
        }
    }

    .operation-table {
        @include flexbox();
        height: 100%;
        position: relative;
        width: 100%;
    }

    .operating-panel {
        margin: 0 0 0 30px;
        position: static;
        align-self: center;
        width: 205px;

        .material-label {
            padding: 0 3px;
        }

        .custom-presets-wrapper {
            background: #FFF;
            padding: 0 20px;
            overflow: scroll;
            width: 440px;

            .custom-presets-list {
                border: 2px solid #E0E0DF;
                list-style: none;
                height: 110px;
                overflow: scroll;
                padding: 0;

                &:empty {
                    background: #B3B3B3;
                    color: #E0E0DF;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;

                    &::after {
                        content: attr(data-empty-message);
                    }
                }

                input[type="radio"] {
                    display: none;

                    &:checked + .preset-item-name {
                        background-color: #E0E0E0;
                        color: #FFF;
                    }
                }

                .preset-item-name {
                    border-bottom: 1px solid #E0E0DF;
                    color: #B3B3B3;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    margin: 0;
                    padding: 0 0 0 10px;
                }
            }

            .custom-preset-buttons {
                height: 69px;
                justify-content: flex-end;
                position: static;

                .btn-default {
                    border-radius: 0;
                    font-size: 15px;
                    height: 30px;
                    line-height: 26px;
                    min-width: 66px;
                    max-width: 66px;
                    width: 66px;
                }
            }
        }

        .popup-selection {
            display: block;
            height: 40px;
            position: relative;
            @include flexbox();

            ul {
                background: #B3B3B3;
                list-style: none;
                padding: 0 10px 10px 10px;

                li {
                    cursor: pointer;
                    color: #E0E0DF;
                    margin: 10px 0 0 0;
                }
            }

            .popup-open {
                display: none;

                &:checked ~ .display-text {
                    background: #B3B3B3;
                    color: #E0E0DF;
                }

                &:checked ~ .popup {
                    visibility: visible;
                }
            }

            .display-text {
                display: inline-block;
                font-size: 16px;
                line-height: 40px;
                padding: 0 16px 0 6px;

                p {
                    display: block;
                    margin: 0;
                    width: 183px;
                }
            }

            .popup {
                visibility: hidden;
                align-self: center;
                @include flexbox();

                .arrow {
                    align-self: center;
                    position: relative;
                    right: -1px;

                    polygon {
                        fill: #B3B3B3;
                    }
                }
            }
        }

        .object-height-input {
            width: 164px;

            .ui-control-unit-input {
                input[type="text"] {
                    background: rgba(0, 0, 0, 0);
                    border: 2px solid #fff;
                    color: #E0E0DF;
                    font-size: 16px;
                    line-height: 32px;
                    padding: 0 5px;
                    width: 100%;
                }
            }
        }

        .material-list {
            width: 116px;
        }

        .btn-advance {
            border-radius: 0;
            background: rgba(0,0,0,0);
            color: #b3b3b3;
            font-size: 16px;
            line-height: 40px;
            text-align: left;
            padding: 0 16px 0 6px;
            margin: 0;
            width: 100%;
        }

        li {
            color: #b3b3b3;
            font-size: 16px;
            line-height: 40px;
        }

        .main {
            background-color: rgba(0, 0, 0, 0);
            list-style: none;
            padding: 0;
        }

        .action-buttons {
            .btn {
                display: block;
                margin: 0 0 5px 0;
            }
        }
    }

    .fa::before {
        margin: 0 5px 0 0;
    }

    .stage {
        background: #E0E0E0;
    }

    .laser-object {
        @include absolute-center();
        background: url(/img/laser-platform.png);
        background-size: 100% 100%;
        border: 1px solid #767676;
        height: 520px;
        overflow: hidden;
        position: absolute;
        width: 520px;
    }

    .laser-object {
        .ft-container {
            z-index: 1;
        }

        .ft-widget {
            cursor: move;
            position: fixed;
        }

        .ft-rotator,
        .ft-rotator-line,
        .ft-scaler {
            visibility: hidden;
        }

        .bounce {
            transition: all .3s ease;
        }

        .image-active {
            background: rgba(255, 255, 255, .6);

            & + .ft-controls {
                outline: 1px solid #626262;
            }

            & + .ft-controls {
                outline: 1px solid #626262;

                .ft-rotator,
                .ft-rotator-line,
                .ft-scaler {
                    visibility: visible;
                }
            }
        }
    }

    .zoom .btn {
        height: 28px;
        line-height: 20px;
        margin: 0 12px 0 0;
        min-width: 0;
        padding: 0;
        width: 28px;

        &::before {
            margin: 0;
        }
    }

    .panel {
        position: absolute;
    }

    .object-position {
        @include flexbox();
        font-size: 20px;
        transition: all .1s ease;
        width: 230px;
        z-index: 1;

        .arrow {
            align-self: center;

            polygon {
                fill: #fff;
            }
        }

        .caption,
        .controls {
            margin: 0;
        }

        .controls {
            background: #FFFFFF;
            display: block;
            margin: 0 0 3px 0;
            padding: 0 20px;
        }

        .control {
            margin: 0 0 10px 0;

            .header {
                color: #E0E0DF;
            }
        }

        .caption {
            @include flexbox();
            justify-content: space-between;
            color: #B3B3B3;
            font-size: 12px;
            line-height: 30px;
        }

        input {
            border: 1px solid #E0E0DF;
            color: #B3B3B3;
            font-size: 15px;
        }
    }

    .action-buttons {
        bottom: 28px;
        position: fixed;
        right: 78px;

        .btn.btn-disabled {
            background: #CCC;
        }

        .btn-default {
            background: #B3B3B3;
            border: none;
            border-radius: 0;
            color: #EEE;
            display: block;
            font-size: 21px;
            font-style: italic;
            font-weight: normal;
            height: 100px;
            line-height: 1.2em;
            margin: 0;
            min-width: 87px;
            position: relative;
            width: 87px;

            &:hover {
                background: #000;
            }
        }

        .btn-go {
            font-size: 35px;
            background: #4D4D4D;
            left: 50px;
            top: -21px;
        }
    }

    .advanced-panel {
        background: #FFF;
        padding: 20px 20px 0;
        width: 440px;

        .footer {
            height: 70px;
            justify-content: flex-end;
            margin-bottom: 0;
            position: static;
        }
    }

    .control {
        align-items: center;
        @include flexbox();
        justify-content: space-around;
        color: #B3B3B3;
        font-size: 13px;
        line-height: 40px;
        height: 40px;

        [type="range"] {
            flex: 1 auto;
        }

        .value-text {
            width: 120px;
        }

        .label {
            align-self: center;
            color: #B3B3B3;
            line-height: 1em;
            width: 100px;
        }

        .value-text {
            border: 2px solid #E0E0DF;
            line-height: 28px;
            margin: 5px;
            padding: 0 5px;

            &::after {
                content: attr(data-tail);
            }
        }
    }
}