.print-studio {
    padding: 0;
    .center {
        text-align: center;
    }
}
.print-studio .btn.btn-default:hover {
    border-color: #000;
}
.print-studio header {
    height: 66px;
    width: 100%;
    display: table;
    letter-spacing: 0.3px;
    color: #000;
}
.print-studio header > div {
    display: table-cell;
    vertical-align: middle;
}
.print-studio header div.pull-right {
    padding: 24px 0;
    border-left: 1px #ccc solid;
    cursor: pointer;
}
.print-studio header .pull-right {
    position: relative;
}
.print-studio header .preview-container {
    width: 180px;
}
.print-studio header .preview-container .fa-caret-down {
    float: right;
}
.print-studio header .preview {
    position: absolute;
    background-color: #fff;
    margin-top: 24px;
    list-style-type: none;
    text-align: left;
    width: 212px;
    left: -33px;
    padding: 0;
}
.print-studio header li {
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
}
.print-studio header li:hover {
    background-color: #f0f0f0;
}
.print-studio header li div {
    padding: 15px 20px;
    font-size: 14px;
    color: #4a4a4a;
    cursor: pointer;
}
.print-studio header .actions > div {
    display: inline-block;
}
.print-studio header .actions .btn {
    min-width: 0;
    margin-right: 10px;
    padding: 0 15px;
}

/*for tips on home / save*/
.print-studio header .actions .btn.tip:hover:before {
    display: block;
    position: absolute;
    content: attr(data-tip);
    min-width: 75px;
    text-align: center;
    white-space: nowrap;
    top: 50px;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    left: -15px;
    z-index: 1;
    height: 24px;
    line-height: 24px;
}
.print-studio .vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.print-studio .btn span {
    margin-left: 7px;
}
.print-studio #uploader {
    padding-left: 20px;
}
.studio-container .pull-right .icon {
    padding: 0 12px;
}
.print-studio .pull-right span {
    font-size: 13px;
}
.print-studio .model-displayer {
    background: #000;
    height: 100%;
    width: 100%;
}
.operating-panel {
    position: absolute;
    width: 100%;
    right: 0;
}
.operating-panel .panel {
    float: right;
}
.operating-panel .operation {
    cursor: pointer;
}
.operating-panel .operation img {
    width: 15px;
}
.operating-panel .operation.up {
    position: absolute;
    top: 13px;
    right: 68px;
}
.operating-panel .operation.right {
    position: absolute;
    top: 60px;
    right: 22px;
}
.operating-panel .operation.down {
    position: absolute;
    top: 110px;
    right: 68px;
}
.operating-panel .operation.left {
    position: absolute;
    top: 60px;
    right: 117px;
}
.operating-panel .operation.home {
    position: absolute;
    top: 40px;
    right: 50px;
    background-color: #fff;
    padding: 12px;
    border-radius: 27px;
}
.operating-panel .operation.home img {
    width: 30px;
}
.operating-panel .operation.command {
    position: absolute;
    top: 200px;
    right: 20px;
}
.operating-panel .operation.command > div {
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-top: 8px;
}
.operating-panel .operation.command button:hover:before {
    display: block;
    position: absolute;
    content: attr(data-tip);
    min-width: 75px;
    text-align: center;
    white-space: nowrap;
    top: 15px;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    left: -85px;
    z-index: 1;
    height: 24px;
    line-height: 24px;
}
.operating-panel .operation.command .btn {
    min-width: 48px;
    height: 100%;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
.operating-panel .operation.command div:last-child {
    margin-top: 30px;
}
.operating-panel .operation.command .scale {
    background-image: url("/img/icon-scale.png");
}
.operating-panel .operation.command .scale:hover {
    background-image: url("/img/icon-scale-a.png");
}
.operating-panel .operation.command .scale.active {
    background-image: url("/img/icon-scale-a.png");
}
.operating-panel .operation.command .rotate {
    background-image: url("/img/icon-rotate.png");
}
.operating-panel .operation.command .rotate:hover {
    background-image: url("/img/icon-rotate-a.png");
}
.operating-panel .operation.command .rotate.active {
    background-image: url("/img/icon-rotate-a.png");
}
.operating-panel .operation.command .center {
    background-image: url("/img/icon-center.png");
}
.operating-panel .operation.command .center:hover {
    background-image: url("/img/icon-center-a.png");
}
.operating-panel .operation.command .delete {
    background-image: url("/img/icon-delete.png");
}
.operating-panel .operation.command .delete:hover {
    background-image: url("/img/icon-delete-a.png");
}
.operating-panel .zoom {
    position: fixed;
    top: 210px;
    right: 25px;
}
.operating-panel .zoom > div {
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
    height: 30px;
    cursor: pointer;
}
.operating-panel .zoom .in {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.operating-panel .zoom .out {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.operating-panel .zoom .divider {
    width: 1px;
    border-left: 1px #E0E0DF solid;
    padding: 0;
}
.operating-panel .zoom > div > img {
    width: 30px;
}
.print-studio .setup-panel {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
.print-studio .setup-panel .main {
    width: 182px;
    background-color: #fff;
    border-radius: 3px;
}
.print-studio .setup-panel .action {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: #00c853;
    color: #fff;
    margin-top: 10px;
}
.print-studio .setup-panel .action:hover {
    background-color: #33d375;
}
.print-studio .setup-panel .main .time {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.print-studio .setup-panel .main .setup {
    padding: 0 16px;
    height: 36px;
    margin-bottom: 20px;
}
.print-studio .setup-panel .main .setup:last-child {
    height: 56px;
}
.print-studio .setup-panel .main .setup .btn {
    font-size: 13px;
    letter-spacing: 0.3px;
}
.print-studio .setup-panel .main .setup > div {
    display: inline-block;
}
.print-studio .setup-panel .main .setup .controls {
    margin-left: 16px;
    vertical-align: top;
    width: 65%;
}
.print-studio .setup-panel .main .setup .btn {
    width: 100%;
    text-align: center;
    height: 36px;
    line-height: 33px;
}
.print-studio .setup-panel .icon {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
}
.print-studio .setup-panel .label {
    font-size: 11px;
    color: #9e9e9e;
    text-transform: uppercase;
}
.print-studio .setup-panel select {
    border: 0;
    border-bottom: 1px #E0E0DF solid;
    background-image: url("/img/icon-3d-arrow-down.png");
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-color: transparent;
    background-position: 83px 6px;
    width: 100%;
    letter-spacing: 0.3px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
}
.print-studio .setup-panel .print-speed {
    background-image: url("/img/icon-speed.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .material {
    background-image: url("/img/icon-material.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .platform {
    background-image: url("/img/icon-platform.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .support {
    background-image: url("/img/icon-support.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .control label {
    font-size: 14px;
    letter-spacing: 0.3;
    color: #000;
    display: inline-block;
}
.print-studio .setup-panel .control .switchContainer {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 55px;
}
.print-studio .setup-panel .control .switchContainer > label {
    width: 0;
}
.object-params {
    right: 25px;
    width: 22%;
}

/*for toggle switch*/
input.switch:empty {
    display: none;
}
input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.4em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 2.8em;
    background-color: #999;
    border-radius: 1em;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
input.switch:empty ~ label:after {
    width: 1em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.15em;
    margin-top: 0.05em;
    background-color: #fff;
    border-radius: 0.5em;
}
input.switch:checked ~ label:before {
    background-color: #393;
}
input.switch:checked ~ label:after {
    margin-left: 1.6em;
    margin-top: 0.05em;
}

/*scale panel*/
.print-studio .control-bottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
}
.print-studio .control-bottom > div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 688px;
    height: 70px;
    background-color: #fff;
}
.print-studio .panel .container {

}
.print-studio .panel .container > div {
    display: inline-block;
    margin-left: 20px;
}
.print-studio .panel .controls > label {
    font-size: 13px;
    font-weight: 500;
    color: #4a4a4a;
}
.print-studio .panel .controls > input {
    width: 70px;
    margin-left: 10px;
}
.print-studio .panel .lock-container {
    vertical-align: middle;
}
.print-studio .panel .lock-container > div {
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.print-studio .panel .lock {
    background-image: url("/img/icon-m-lock.png");
}
.print-studio .panel .unlock {
    background-image: url("/img/icon-m-unlock.png");
}
.print-studio .panel .btn {
    text-align: center;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    font-weight: 500;
    color: #4a4a4a;
    margin-left: 30px;
}
.print-studio .panel .btn:hover {
    border-color: #000;
}

/*rotate panel*/
/*rotate knob*/
.print-studio .panel .controls div {
    margin-left: 10px;
}
.print-studio .panel .controls div > canvas {
    vertical-align: middle;
}

/*reset button*/
.print-studio .panel .controls.pull-right {
    position: relative;
    top: 10px;
    right: 20px;
}

/* Advanced Panel */
.print-studio {
    .import-indicator {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        position: absolute;
        z-index: 9999;
        height: 100%;
        border: 7px dashed #DDD;
        display: none;
    }
    .advanced-panel {
        background-color: #fff;
        position: absolute;
        margin: auto;
        padding: 0;
        left: 0;
        right: 0;
        top: 20px;
        float: left;
        width: 440px;
        height: 540px;
        $border-color: #DDD;

        .content-wrapper {
            overflow-y: auto;
            height: 415px;
        }

        .tab-list {
            display: table;
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;

            .tab {
                display: table-cell;
                text-align: center;
                border-right: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                padding: 10px 0;
                cursor: pointer;

                a {
                    text-decoration: none;
                    font-size: 17px;
                    color: #626262;
                    display: block;
                }
            }
            li:first-child {
                border-top: 0;
            }
            li:last-child {
                border-right: 0;
            }
            li.selected {
                border-bottom: 3px solid #9B9B9B;
            }
        }

        .section {
            padding: 30px 20px 0 20px;
        }
        .title {
            color: #626262;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
        }
        .footer {
            position: absolute;
            height: 70px;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin-bottom: 0;
            border-top: 1px solid $border-color;

            div {
                line-height: 10px;
            }
            .right {
                padding: 4% 0;
                padding-right: 16px;
                float: right;
                a {
                    margin-left: 10px;
                }
            }
            .left {
                padding: 4% 0;
                padding-left: 16px;
                float: left;
            }
            .btn {
                margin: 0;
                border: 2px solid #E0E0DF;
                border-radius: 0;
                font-size: 15px;
                color: #B3B3B3;
                line-height: 30px;
                padding: 0 10px;
            }
        }

        .preset-wrapper {
            margin: 20px 20px 0 20px;

            .preset-header {
                font-size: 15px;
                color: #626262;
            }

            .preset-list {
                width: 100%;
                height: 110px;
                border: 2px solid #E0E0DF;
                margin-top: 20px;
                overflow-y: auto;

                .preset-entry {
                    border-bottom: 1px solid #E0E0DF;
                    height: 40px;
                    line-height: 40px;
                    color: #B3B3B3;
                    cursor: pointer;

                    span {
                        margin-left: 10px;
                    }
                }
                .selected {
                    background-color: #E0E0E0;
                    color: #FFF;
                }
            }

            .preset-content {
                width: 100%;
                height: 275px;
                border: 2px solid #E0E0E0;
                margin-top: 10px;
            }

            .preset-name {
                margin-top: 20px;
                height: 40px;
                line-height: 40px;
                color: #B3B3B3;

                input {
                    margin-left: 70px;
                    height: 40px;
                    width: 288px;
                    border: 2px solid #E0E0E0;
                }
            }
        }
    }
    .flux-monitor {
        $panelWidth: 31rem;
        $white: #FFF;
        $light-grey: #DDD;
        position: absolute;
        left: 50%;
        top: 100px;
        .main {
            background-color: white;
            height: 40rem;
            width: $panelWidth;
            left: -50%;
            position: relative;
            .title {
                height: 5rem;
                text-align: center;
                span {
                    font-size: 1.8rem;
                    color: #999;
                    line-height: 5rem;
                }
                .back {
                    font-size: 3rem;
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    color: #BBB;
                    cursor: pointer;
                }
                .back:hover {
                    color: #333;
                }
                .close {
                    right: 12px;
                    top: 9px;
                }
            }
            .body {
                height: 70%;
                .content {
                    padding: 0 20px;
                    overflow-y: auto;
                    img {
                        width: 100%;
                    }
                    .image-wrapper {
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                    }
                    .name {
                        font-size: 1rem;
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        width: 100%;
                    }
                    .name.selected {
                        padding: 0 8px;
                        border-radius: 5px;
                        color: white;
                        background: #0950D0;
                    }
                    .folder {
                        color: #BBB;
                        display: inline-block;
                        width: 33%;
                        height: 80px;
                        position: relative;
                        background-image: url('../../img/folder.svg');
                        background-repeat: no-repeat;
                        background-size: 72px 60px;
                        background-position: top;
                        margin-top: 10px;
                        cursor: pointer;

                    }
                    .folder:hover {
                        color: #333;
                    }
                    .file {
                        text-align: center;
                        color: #BBB;
                        display: inline-block;
                        width: 33%;
                        height: 80px;
                        position: relative;
                        // background-image: url('../../img/folder.svg');
                        background-repeat: no-repeat;
                        background-size: 72px 60px;
                        background-position: top;
                        margin-top: 10px;
                        cursor: pointer;
                        img {
                            width: 60px;
                        }
                    }
                    .file:hover {
                        color: #333;
                    }
                    .spinner-wrapper {
                        position: absolute;
                        width: calc(100% - 20px);
                        margin: auto;
                        top: 200px;
                    }
                    .camera-image {
                        width: 100%;
                        height: 249px;
                    }
                }
                .close {
                    right: 20px;
                }

            }
            .operation {
                margin-top: 15px;
                .controls {
                    position: absolute;
                    color: #BBB;
                    text-align: center;
                    width: 60px;
                    cursor: pointer;
                    .description {
                        padding-top: 5px;
                        font-size: 1.2rem;
                    }
                }
                .controls:hover {
                    color: #333;
                }
                .left {
                    left: 2rem;
                }
                .center {
                    margin: auto;
                    left: 0;
                    right: 0;
                }
                .right {
                    right: 2rem;
                }
            }
        }
        .sub {
            background-color: white;
            height: 10rem;
            width: $panelWidth;
            left: -50%;
            position: relative;
            margin-top: 5px;
            .wrapper {
                padding: 1.5rem 1.5rem 0 1.5rem;
                .row {
                    font-size: 1.2rem;
                    color: #888;
                    div {
                        display: inline-block;
                    }
                    .right {
                        float: right;
                    }
                }
            }
            .actions {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                display: inline-block;
                bottom: 1rem;
                width: 100%;
            }
            .btn {
                font-size: 1rem;
                color: #FFF;
                background-color: #BBB;
                border-radius: 0;
                margin: 0 0.25rem;
                transition: none;
                .filament {
                    width: 12rem;
                }
                .file {
                    width: 8rem;
                }
                .monitor {
                    width: 8rem;
                }
            }
            .btn:hover {
                background-color: #333;
            }
        }
        ul {
            list-style: none;
            float: left;
            display: block;
            width: 100%;
        }
        li {
            display: inline;
            width: 25%;
            float: left;
        }


    }
    .previewPanel {
        position: absolute;
        right: 13%;
        top: 15%;
        input {
            width: 150px;
            transform: rotate(270deg);
        }
        div {
            text-align: right;
            margin-right: 25px;
        }
    }
    .progressWindow {
        width: 600px;
        height: 100px;
        background-color: white;
        .message {
            text-align: center;
            padding: 15px 0;
        }
    }
    .importWindow {
        .arrowBox {
            position: absolute;
            background: #fff;
            width: 200px;
            height: 50px;
            cursor: pointer;
            .import-btn {
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                letter-spacing: 2px;
                color: #ccc;
                margin-top: 0.4rem;
            }
        }
        .arrowBox:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 20px;
            margin-left: -20px;
        }
    }
    .leftPanel {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 50%;
        margin-top: -150px;
        ul {
            position: absolute;
            list-style-type: none;
            padding-left: 3.75rem;
            li {
                font-size: 1.8rem;
                color: #b3b3b3;
                line-height: 2em;
                cursor: pointer;
            }
            li:hover {
                color: #4d4d4d;
            }
        }
    }
    .rightPanel {
        position: absolute;
        width: 275px;
        height: 100%;
        right: 0;
        svg {
            width: 275px;
            height: 230px;
            position: absolute;
            bottom: 50px;
            left: 0;
        }
        tspan {
            font-size: 2.4em;
            font-weight: bold;
        }
        g {
            cursor: pointer;
        }
        g:hover path {
            fill: #000;
        }
        tspan.go {
            font-size: 3.4em;
        }
        path:hover {
            color: red;
        }
        .cameraViewController {
            height: 100px;
            position: absolute;
            bottom: 55%;
        }
    }
    .objectDialogue {
        position: absolute;
        background: #fff;
        height: 240px;
        width: 230px;
        .accordion {
            margin-top: 0;
            dt {
                background-color: #eee;
            }
            dt,
            dd {
                border-bottom: 0;
                .title {
                    font-size: 1.3rem;
                    color: #b3b3b3;
                    text-decoration: none;
                    line-height: 1.5em;
                    padding-left: 0.5em;
                    cursor: pointer;
                }
            }
            dd {
                margin-left: 20px;
                font-size: 12px;
                &:last-of-type {
                    border-top: 1px solid white;
                    position: relative;
                    top: -1px;
                }
                .group {
                    margin-top: 20px;
                    font-size: 2.5rem;
                    height: 3rem;
                    width: 100%;
                    color: #b3b3b3;
                    .label {
                        width: 50px;
                        padding: 0 0.8em 0 0;
                        display: inline-block;
                    }
                    .control {
                        display: inline;
                    }
                    input {
                        width: 130px;
                        border-width: 2px;
                        border-style: solid;
                        border-color: #b3b3b3;
                    }
                }
            }
            .scale-content {
                height: 195px;
            }
        }
        .divider {
            width: 100%;
            height: 5px;
            background-color: #E0E0DF;
        }
        .rotateInputFields {
            height: 13.5rem;
            width: 100%;
        }
        .bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .objectDialogue:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 20px;
        margin-top: -20px;
    }
    .select-printer {
        bottom: 65px;
        right: 240px;
    }
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor:pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

// on off switch
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E0E0DF; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #E0E0DF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #E0E0DF; color: #E0E0DF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border: 2px solid #E0E0DF; border-radius: 14px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
