.print-studio {
    @include flexbox();
    padding: 0;

    .center {
        text-align: center;
    }
}
.print-studio .btn.btn-default:hover {
    border-color: #000;
}
.print-studio header {
    color: #000;
    display: table;
    height: 66px;
    letter-spacing: 0.3px;
    width: 100%;
}
.print-studio header > div {
    display: table-cell;
    vertical-align: middle;
}
.print-studio header div.pull-right {
    border-left: 1px #ccc solid;
    cursor: pointer;
    padding: 24px 0;
}
.print-studio header .pull-right {
    position: relative;
}
.print-studio header .preview-container {
    width: 180px;
}
.print-studio header .preview-container .fa-caret-down {
    float: right;
}
.print-studio header .preview {
    background-color: #fff;
    left: -33px;
    list-style-type: none;
    margin-top: 24px;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 212px;
}
.print-studio header li {
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
}
.print-studio header li:hover {
    background-color: #f0f0f0;
}
.print-studio header li div {
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 20px;
}
.print-studio header .actions > div {
    display: inline-block;
}
.print-studio header .actions .btn {
    margin-right: 10px;
    min-width: 0;
    padding: 0 15px;
}

/*for tips on home / save*/
.print-studio header .actions .btn.tip:hover:before {
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    content: attr(data-tip);
    display: block;
    font-size: 11px;
    height: 24px;
    left: -15px;
    line-height: 24px;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 50px;
    white-space: nowrap;
    z-index: 1;
}
.print-studio .vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.print-studio .btn span {
    margin-left: 7px;
}
.print-studio #uploader {
    padding-left: 20px;
}
.studio-container .pull-right .icon {
    padding: 0 12px;
}
.print-studio .pull-right span {
    font-size: 13px;
}
.print-studio .model-displayer {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.operating-panel {
    position: absolute;
    right: 0;
    width: 100%;
}
.operating-panel .panel {
    float: right;
}
.operating-panel .operation {
    cursor: pointer;
}
.operating-panel .operation img {
    width: 15px;
}
.operating-panel .operation.up {
    position: absolute;
    right: 68px;
    top: 13px;
}
.operating-panel .operation.right {
    position: absolute;
    right: 22px;
    top: 60px;
}
.operating-panel .operation.down {
    position: absolute;
    right: 68px;
    top: 110px;
}
.operating-panel .operation.left {
    position: absolute;
    right: 117px;
    top: 60px;
}
.operating-panel .operation.home {
    background-color: #fff;
    border-radius: 27px;
    padding: 12px;
    position: absolute;
    right: 50px;
    top: 40px;
}
.operating-panel .operation.home img {
    width: 30px;
}
.operating-panel .operation.command {
    position: absolute;
    right: 20px;
    top: 200px;
}
.operating-panel .operation.command > div {
    background-color: #fff;
    border-radius: 5px;
    height: 48px;
    margin-top: 8px;
    width: 48px;
}
.operating-panel .operation.command button:hover:before {
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    content: attr(data-tip);
    display: block;
    font-size: 11px;
    height: 24px;
    left: -85px;
    line-height: 24px;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    z-index: 1;
}
.operating-panel .operation.command .btn {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    color: #000;
    height: 100%;
    margin-left: 0;
    min-width: 48px;
}
.operating-panel .operation.command div:last-child {
    margin-top: 30px;
}
.operating-panel .operation.command .scale {
    background-image: url("/img/icon-scale.png");
}
.operating-panel .operation.command .scale:hover {
    background-image: url("/img/icon-scale-a.png");
}
.operating-panel .operation.command .scale.active {
    background-image: url("/img/icon-scale-a.png");
}
.operating-panel .operation.command .rotate {
    background-image: url("/img/icon-rotate.png");
}
.operating-panel .operation.command .rotate:hover {
    background-image: url("/img/icon-rotate-a.png");
}
.operating-panel .operation.command .rotate.active {
    background-image: url("/img/icon-rotate-a.png");
}
.operating-panel .operation.command .center {
    background-image: url("/img/icon-center.png");
}
.operating-panel .operation.command .center:hover {
    background-image: url("/img/icon-center-a.png");
}
.operating-panel .operation.command .delete {
    background-image: url("/img/icon-delete.png");
}
.operating-panel .operation.command .delete:hover {
    background-image: url("/img/icon-delete-a.png");
}
.operating-panel .zoom {
    position: fixed;
    right: 25px;
    top: 210px;
}
.operating-panel .zoom > div {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    padding: 0 10px;
}
.operating-panel .zoom .in {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.operating-panel .zoom .out {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.operating-panel .zoom .divider {
    border-left: 1px #E0E0DF solid;
    padding: 0;
    width: 1px;
}
.operating-panel .zoom > div > img {
    width: 30px;
}
.print-studio .setup-panel {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}
.print-studio .setup-panel .main {
    background-color: #fff;
    border-radius: 3px;
    width: 182px;
}
.print-studio .setup-panel .action {
    background-color: #fff;
    background-color: #00c853;
    border-radius: 3px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.print-studio .setup-panel .action:hover {
    background-color: #33d375;
}
.print-studio .setup-panel .main .time {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.print-studio .setup-panel .main .setup {
    height: 36px;
    margin-bottom: 20px;
    padding: 0 16px;
}
.print-studio .setup-panel .main .setup:last-child {
    height: 56px;
}
.print-studio .setup-panel .main .setup .btn {
    font-size: 13px;
    letter-spacing: 0.3px;
}
.print-studio .setup-panel .main .setup > div {
    display: inline-block;
}
.print-studio .setup-panel .main .setup .controls {
    margin-left: 16px;
    vertical-align: top;
    width: 65%;
}
.print-studio .setup-panel .main .setup .btn {
    height: 36px;
    line-height: 33px;
    text-align: center;
    width: 100%;
}
.print-studio .setup-panel .icon {
    background-size: 36px 36px;
    height: 36px;
    width: 36px;
}
.print-studio .setup-panel .label {
    color: #9e9e9e;
    font-size: 11px;
    text-transform: uppercase;
}
.print-studio .setup-panel select {
    background-color: transparent;
    background-image: url("/img/icon-3d-arrow-down.png");
    background-position: 83px 6px;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    border: 0;
    border-bottom: 1px #E0E0DF solid;
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}
.print-studio .setup-panel .print-speed {
    background-image: url("/img/icon-speed.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .material {
    background-image: url("/img/icon-material.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .platform {
    background-image: url("/img/icon-platform.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .support {
    background-image: url("/img/icon-support.png");
    background-repeat: no-repeat;
}
.print-studio .setup-panel .control label {
    color: #000;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.3;
}
.print-studio .setup-panel .control .switchContainer {
    display: inline-block;
    position: absolute;
    right: 55px;
    vertical-align: top;
}
.print-studio .setup-panel .control .switchContainer > label {
    width: 0;
}
.object-params {
    right: 25px;
    width: 22%;
}

/*for toggle switch*/
input.switch:empty {
    display: none;
}
input.switch:empty ~ label {
    cursor: pointer;
    float: left;
    line-height: 1.4em;
    margin: 0.2em 0;
    position: relative;
    text-indent: 4em;
    -webkit-user-select: none;
    user-select: none;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
    background-color: #999;
    border-radius: 1em;
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    width: 2.8em;
}

input.switch:empty ~ label:after {
    background-color: #fff;
    border-radius: 0.5em;
    bottom: 0.1em;
    margin-left: 0.15em;
    margin-top: 0.05em;
    top: 0.1em;
    width: 1em;
}

input.switch:checked ~ label:before {
    background-color: #393;
}

input.switch:checked ~ label:after {
    margin-left: 1.6em;
    margin-top: 0.05em;
}

.box-shadow .modal-body{
    box-shadow: 0 7px 15px rgba(0, 0, 0, .2), 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Advanced Panel */
.print-studio {

    .import-indicator {
        background-color: rgba(0,0,0,0.5);
        border: 7px dashed #DDD;
        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
    .advanced-panel {
        $border-color: #DDD;
        background-color: #fff;
        box-shadow: 0 7px 15px rgba(0, 0, 0, .2), 0 10px 20px rgba(0, 0, 0, 0.1);
        padding: 0;
        position: relative;
        height: 540px;
        width: 440px;

        .content-wrapper {
            height: 427px;
            overflow-y: auto;
        }

        .tab-list {
            display: table;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            .tab {
                border-bottom: 1px solid $border-color;
                border-right: 1px solid $border-color;
                cursor: pointer;
                display: table-cell;
                padding: 10px 0;
                text-align: center;

                a {
                    color: #626262;
                    display: block;
                    font-size: 17px;
                    text-decoration: none;
                }
            }
            li:first-child {
                border-top: 0;
            }
            li:last-child {
                border-right: 0;
            }
            li.selected {
                border-bottom: 3px solid #9B9B9B;
            }
        }

        .section {
            padding: 30px 20px 0 20px;
        }
        .title {
            color: #626262;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;
            margin-bottom: 15px;

            .load-preset {
                float: right;
                cursor: pointer;
            }
        }

        .preset-wrapper {
            .footer {
                .left,
                .right {
                    padding: 4% 0;
                }
                border-top: 0;
            }
        }

        .footer {
            background: #fff;
            border-top: 1px solid $border-color;
            bottom: 0;
            height: 70px;
            left: 0;
            margin-bottom: 0;
            right: 0;
            text-align: center;

            div {
                line-height: 10px;
            }

            .right,
            .left {
                .btn:first-child {
                    margin: 0 10px 0 0;
                }
            }

            .right {
                float: right;
                padding: 4% 16px 4% 0;
            }

            .left {
                float: left;
                padding: 4% 0 4% 16px;
            }

            .btn {
                border-radius: 0;
                font-size: 15px;
                line-height: 30px;
                margin: 0;
                padding: 0 10px;
                &:hover {
                    border: 2px solid #424242;
                    color: #424242;
                }
            }
        }

        .preset-wrapper {
            margin: 20px 20px 0 20px;

            .preset-header {
                color: #626262;
                font-size: 15px;
            }

            .preset-list {
                border: 2px solid #E0E0DF;
                height: 110px;
                margin-top: 20px;
                overflow-y: auto;
                width: 100%;

                .preset-entry {
                    border-bottom: 1px solid #E0E0DF;
                    color: $primaryColor;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;

                    span {
                        margin-left: 10px;
                    }
                }
                .selected {
                    background-color: #E0E0E0;
                    color: #FFF;
                }
            }

            .preset-content {
                border: 2px solid #E0E0E0;
                color: $primaryColor;
                height: 275px;
                margin-top: 10px;
                width: 100%;
            }

            .preset-name {
                color: $primaryColor;
                height: 40px;
                line-height: 40px;
                margin-top: 20px;

                input {
                    border: 2px solid #E0E0E0;
                    float: right;
                    height: 40px;
                    width: 300px;
                }
            }
        }
    }
    .preview-panel {
        background-color: $primaryColor;
        height: 200px;
        overflow-y: hidden;
        position: relative;
        width: 50px;
        input {
            left: -50px;
            position: absolute;
            top: 100px;
            transform: rotate(270deg);
            width: 150px;
        }
        .layer-count {
            color: #E0E0DF;
            text-align: center;
        }
    }
    .progressWindow {
        background-color: white;
        height: 100px;
        width: 600px;
        .message {
            padding: 15px 0;
            text-align: center;
        }
    }
    .importWindow {
        z-index: 1;

        .arrowBox {
            background: #fff;
            color: $primaryColor;
            cursor: pointer;
            height: 50px;
            position: absolute;
            width: 200px;
            animation: upanddown 5s ease infinite alternate;
            -webkit-animation: upanddown 5s ease infinite alternate;

            &:hover {
                color: #888;
            }

            .import-btn {
                font-size: 2em;
                font-weight: bold;
                letter-spacing: 2px;
                margin-top: .4rem;
                text-align: center;
            }
        }
        .arrowBox:after {
            border: solid transparent;
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 20px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -20px;
            pointer-events: none;
            position: absolute;
            top: 100%;
            width: 0;
        }
    }
    .hide {
        display: none;
    }
    .leftPanel {
        margin: 0 0 0 30px;
        z-index: 1;
        align-self: center;
        position: relative;
        .mask {
            z-index: 99;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .dialog-label .disable {
            color: #C0C0C0;
        }
        .dialog-label.disable:hover {
            background: none;
            color: #C0C0C0;
        }
    }
    .rightPanel {
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: 0;
        width: 170px;
        z-index: 1;

        svg {
            bottom: 50px;
            height: 230px;
            left: 0;
            position: absolute;
            width: 275px;
        }
        tspan {
            font-size: 2.4em;
        }
        g {
            cursor: pointer;
        }
        g:hover path {
            fill: #000;
        }
        tspan.go {
            font-size: 3.4em;
            font-style: italic;
        }
        text.txt-get-gcode {
            font-style: italic;
        }
        path:hover {
            color: red;
        }
        .cameraViewController {
            bottom: 55%;
            height: 100px;
            pointer-events: auto;
            position: absolute;
        }
    }

    .object-dialogue.through {
        pointer-events: none;
    }
    .object-dialogue {
        @include flexbox();
        font-size: 20px;
        position: absolute;
        transition: all .1s ease;
        width: 260px;
        z-index: 1;

        .accordion-body {
            overflow: visible;
            position: relative;

            .icon-locker {
                bottom: 0;
                cursor: pointer;
                height: 20px;
                left: 100%;
                margin: auto;
                position: absolute;
                top: 0;
                width: 20px;
            }
        }

        .arrow {
            align-self: center;

            polygon {
                fill: #fff;
            }
        }

        .caption,
        .controls {
            margin: 0;
        }

        .controls {
            background: #FFFFFF;
            display: block;
            margin: 0 0 3px 0;
            padding: 0 20px;
            width: 260px;
        }

        .control {
            @include flexbox();
            color: $primaryColor;
            height: 40px;
            line-height: 40px;
            margin: 0 0 10px 0;
            align-items: center;
            justify-content: space-around;
        }

        .caption {
            @include flexbox();
            color: $primaryColor;
            font-size: 12px;
            line-height: 30px;
            justify-content: space-between;
        }

        .accordion {
            .lock {
                background-image: url("../../img/lock.svg");
                background-position: top;
                background-repeat: no-repeat;
                background-size: 12px 36px;
                bottom: 0;
                color: #BBB;
                cursor: pointer;
                height: 36px;
                left: 100%;
                margin: auto;
                position: absolute;
                top: 0;
                width: 12px;
            }
            .lock.unlock {
                background-image: url("../../img/unlock.svg");
                background-size: 24px 36px;
            }
            .axis-red {
                color: red;
            }
            .axis-green {
                color: green;
            }
            .axis-blue {
                color: blue;
            }
        }
    }
}

.close {
    cursor:pointer;
    height: 32px;
    opacity: 0.3;
    position: absolute;
    width: 32px;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    background-color: #333;
    content: ' ';
    height: 33px;
    left: 15px;
    position: absolute;
    width: 2px;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

// on off switch
.onoffswitch {
    position: relative;
    width: 50px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    border: 2px solid #E0E0DF;
	border-radius: 14px; cursor: pointer;
    display: block;
	overflow: hidden;
}
.onoffswitch-inner {
    display: block;
	margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
	width: 200%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    box-sizing: border-box;
    color: white;
    display: block;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    padding: 0;
    width: 50%;
}
.onoffswitch-inner:before {
    background-color: #E0E0DF;
    color: #FFFFFF;
    content: "";
    padding-left: 10px;
}
.onoffswitch-inner:after {
    background-color: #E0E0DF;
    color: #E0E0DF;
    content: "";
    padding-right: 10px;
    text-align: right;
}
.onoffswitch-switch {
    background: #FFFFFF;
    border: 2px solid #E0E0DF;
    border-radius: 14px;
    bottom: 0;
    display: block;
	margin: 1px;
    position: absolute;
    right: 31px;
	top: 0;
    transition: all .3s ease-in 0s;
    width: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.slicingProgressBar{
    position: fixed;
    z-index: 999;
    left: 35px;
    bottom: 35px;
    height: 10px;
    width: 150px;
    background: #BBB;
    .slicingProgressBarInner{
        height: 10px;
        background: #666;
        transition: width 0.5s;
    }
}
