.scan-studio {

    .model-displayer {
        height: 100%;
        width: 100%;

        .camera-image {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .setup-panel,
    .manipulation-panel {
        position: absolute;
        top: 20px;
    }

    .manipulation-panel {
        right: 20px;
        width: 80px;

        .btn {
            margin: 5px 0;
        }

        .on {
            background: #424242;
            border: #fff solid 1px;
            color: #fff;
        }
    }

    .setup-panel {
        left: 20px;
        width: 182px;

        .action-buttons {
            .btn {
                display: block;
                margin: 0 0 5px 0;
            }
        }
    }

    .starting-section {
        height: 100%;
        width: 100%;
    }

    .starting-section {
        position: relative;
    }

    .operating-section {
        height: 100%;
        position: relative;
        width: 100%;
    }

    .scan-progress {
        background: #eee;
        border-radius: 5px;
        bottom: 10px;
        height: 150px;
        left: 15px;
        margin: auto;
        padding: 10px;
        position: absolute;
        width: 40%;

        .progress {
            height: 20px;
        }

        .progress-bar {
            background-color: #5BC0DE;
            background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
            background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            height: 100%;
            -webkit-background-size: 40px 40px;
        }

        .progress-status {
            @include flexbox();

            span {
                flex: 1;
            }
        }
    }

    .scan-model-save-as {
        background: #eee;
        border-radius: 5px;
        height: 150px;
        padding: 10px;
        width: 60%;

        .file-formats {
            margin: 0 0 10px 0;

            label {
                float: left;
            }
        }

    }

    .modal-printer-selecter {
        position: static;
    }
}