.scan-studio {
    background: #E0E0E0;

    .mesh-thumbnail {
        cursor: pointer;
        list-style: none;
        margin: 0 0 0 30px;
        padding: 0;
        z-index: 1;

        .mesh-thumbnail-item {
            background: #9B9B9B;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 15px;
            line-height: 30px;
            margin: 0 0 17px 0;
            position: relative;
            text-align: center;
            width: 99px;

            &::before {
                content: "#";
            }

            &:hover {
                background: #777;
            }
        }

        .mesh-thumbnail-close {
            background: rgba(0, 0, 0, .3);
            border-radius: 50%;
            height: 20px;
            position: absolute;
            width: 20px;
            right: -10px;
            top: -10px;

            &::before {
                line-height: 20px;
            }
        }

        .choose {
            background: #333;
        }
    }

    .action-buttons {
        bottom: 28px;
        position: fixed;
        right: 20px;
        width: 87px;

        .btn {
            font-size: 18px;
            height: 100px;
            line-height: 23px;
            margin: -20px 0 0 0;
            position: relative;
            width: 87px;

            &:nth-child(even) {
                left: -43px;
            }

            &:first-child {
                margin: 0;
            }
        }

        .btn-scan {
            background: #474747;
            font-size: 35px;
        }

        .btn-scan-again {
            background: #BABABA;
        }

        .btn-rollback,
        .btn-multi-scan {
            background: #979797;
        }

        .btn-save-stl,
        .btn-convert {
            background: #474747;
        }
    }

    .model-displayer {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 0;

        .camera-image {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .scan-printer-selection {
        position: relative;
    }

    .manipulation-panel {
        position: absolute;
        top: 20px;
    }

    .manipulation-panel {
        right: 20px;
        width: 80px;

        .btn {
            margin: 5px 0;
        }

        .on {
            background: #424242;
            border: #fff solid 1px;
            color: #fff;
        }
    }

    .starting-section {
        height: 100%;
        width: 100%;
    }

    .starting-section {
        position: relative;
    }

    .operating-section {
        @include flexbox();
        height: 100%;
        position: relative;
        width: 100%;
        align-items: center;
    }

    .popup-selection {
        @include flexbox();
        height: 40px;
        position: relative;

        ul {
            background: #B3B3B3;
            list-style: none;
            padding: 0 10px 10px 10px;

            li {
                color: #E0E0DF;
                cursor: pointer;
                margin: 10px 0 0 0;
            }
        }

        .popup-open {
            display: none;

            &:checked ~ .display-text {
                background: #B3B3B3;
                color: #E0E0DF;
            }

            &:checked ~ .popup {
                visibility: visible;
            }
        }

        .display-text {
            p {
                display: block;
                margin: 0;
                width: 257px;
            }
        }

        .popup {
            @include flexbox();
            visibility: hidden;
            align-self: center;

            .arrow {
                position: relative;
                right: -1px;
                align-self: center;

                polygon {
                    fill: #B3B3B3;
                }
            }
        }
    }

    .setup-panel {
        margin: 0 0 0 30px;
        position: static;
        z-index: 1;

        .caption {
            padding: 0 .3em 0 0;
            text-transform: uppercase;
        }
    }

    .scan-progress {
        background: #eee;
        border-radius: 5px;
        bottom: 10px;
        height: 150px;
        left: 15px;
        margin: auto;
        padding: 10px;
        position: absolute;
        width: 40%;

        .progress {
            height: 20px;
        }

        .progress-bar {
            background-color: #5BC0DE;
            background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
            background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            height: 100%;
            -webkit-background-size: 40px 40px;
        }

        .progress-status {
            @include flexbox();

            span {
                flex: 1;
            }
        }
    }

    .scan-model-save-as {
        background: #eee;
        border-radius: 5px;
        height: 150px;
        padding: 10px;
        width: 60%;

        .file-formats {
            margin: 0 0 10px 0;

            label {
                float: left;
            }
        }

    }

    .modal-printer-selecter {
        position: static;
        z-index: 1;
    }
}