.welcome .brand-image {
    margin: 69px 0 45px 0;
    width: 138px;
}

.welcome h2 {
    color: #424242;
    font-size: 20px;
    letter-spacing: 0.4px;
    margin: 0 0 6px 0;
}

.welcome p {
    color: #777;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.2px;
    margin: 0;
}

.welcome select {
    border: 1px solid #bdbdbd;
    color: #424242;
    font-size: 14px;
    font-weight: lighter;
    height: 36px;
    letter-spacing: 0.2px;
    margin: 23px 0 17px 0;
    width: 270px;
}