.wifi {
    .wifi-symbol {
        margin: 20px 0 26px 0;
        width: 362px;
    }

    .flux-printer {
        text-align: right;
    }

    .flux-printer img {
        width: 168px;
    }

    h2 {
        color: #424242;
        font-size: 18px;
        letter-spacing: 0.4px;
        margin: 49px 0 21px 0;
    }

    p {
        color: #777;
        font-size: 15px;
        font-weight: lighter;
        letter-spacing: 0.2px;
        margin: 0;
    }

    .notice {
        color: #9b9b9b;
        font-size: 12px;
        text-align: left;
    }

    .wifi-form h2 {
        margin: 0 0 6px 0;
    }

    .wifi-form .btn-large {
        margin: 30px 0 18px 0;
    }

    .wifi-form label {
        display: block;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: .2px;
        line-height: 36px;
        margin: 16px 0 19px 0;
        padding: 0 5px;
        width: 270px;
    }

    .wifi-list {
        border: #ccc 1px solid;
        height: 280px;
        margin: 20px auto;
        overflow: scroll;
        padding: 0;
        width: 300px;

        li {
            height: 40px;

            label {
                display: block;
                height: 100%;

                &:hover {
                    cursor: pointer;
                }
            }

            .row-fluid {
                @include flexbox();
                flex: 2;
                height: 100%;
                justify-content: space-between;
                padding: 0 10px;
            }

            .wifi-ssid {
                width: calc(100% - 50px);
            }

            span {
                display: block;
                line-height: 40px;
            }

            input {
                display: none;

                &:checked + .row-fluid {
                    background: #ccc;
                }
            }

            .fa{
                width: 50px;

                &::before {
                    line-height: 40px;
                }
            }
        }
    }
}