.flux-monitor {
    $panelWidth: 31rem;
    $white: #FFF;
    $light-grey: #DDD;
    left: 50%;
    .main {
        background-color: white;
        height: 40rem;
        width: $panelWidth;
        position: relative;
        .title {
            height: 5rem;
            text-align: center;
            span {
                font-size: 1.8rem;
                color: #999;
                line-height: 5rem;
            }
            .back {
                font-size: 3rem;
                position: absolute;
                top: 0px;
                left: 15px;
                color: #BBB;
                cursor: pointer;
            }
            .back:hover {
                color: #333;
            }
            .close {
                right: 12px;
                top: 9px;
            }
        }
        .body {
            height: 70%;
            .content {
                padding: 0 20px;
                overflow-y: auto;
                img {
                    width: 100%;
                }
                .image-wrapper {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }
                .name {
                    font-size: 1rem;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    overflow: hidden;
                }
                .name.selected {
                    padding: 0 8px;
                    border-radius: 5px;
                    color: white;
                    background: #0950D0;
                }
                .folder {
                    color: #BBB;
                    display: inline-block;
                    width: 33%;
                    height: 80px;
                    position: relative;
                    background-image: url('../../img/folder.svg');
                    background-repeat: no-repeat;
                    background-size: 72px 60px;
                    background-position: top;
                    margin-top: 10px;
                    cursor: pointer;

                }
                .folder:hover {
                    color: #333;
                }
                .file {
                    text-align: center;
                    color: #BBB;
                    display: inline-block;
                    width: 33%;
                    height: 80px;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: 72px 60px;
                    background-position: top;
                    margin-top: 10px;
                    cursor: pointer;
                    img {
                        width: 60px;
                    }
                }
                .file:hover {
                    color: #333;
                }
                .spinner-wrapper {
                    position: absolute;
                    width: calc(100% - 20px);
                    margin: auto;
                    top: 200px;
                }
                .camera-image {
                    width: 100%;
                    height: 249px;
                }
            }
            .close {
                right: 20px;
            }
        }
        .operation {
            margin-top: 15px;
            .controls {
                position: absolute;
                color: #BBB;
                text-align: center;
                width: 60px;
                cursor: pointer;
                .description {
                    padding-top: 5px;
                    font-size: 1.2rem;
                }
            }
            .controls:hover {
                color: #333;
            }
            .left {
                left: 2rem;
            }
            .center {
                margin: auto;
                left: 0;
                right: 0;
            }
            .right {
                right: 2rem;
            }
        }
        .wait {
            text-align: center;
            margin-top: 30px;
            font-size: 1.2rem;
            color: #B3B3B3;
        }
    }
    .sub {
        background-color: white;
        height: 10rem;
        width: $panelWidth;
        position: relative;
        margin-top: 5px;
        .wrapper {
            padding: 1.5rem 1.5rem 0 1.5rem;
            .row {
                font-size: 1.2rem;
                color: #888;
                div {
                    display: inline-block;
                }
                .right {
                    float: right;
                }
            }
        }
        .actions {
            position: absolute;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            bottom: 1rem;
            width: 100%;
        }
        .btn {
            font-size: 1rem;
            color: #FFF;
            background-color: #BBB;
            border-radius: 0;
            margin: 0 0.25rem;
            padding: 0 12px;
            transition: none;
            .filament {
                width: 12rem;
            }
            .file {
                width: 8rem;
            }
            .monitor {
                width: 8rem;
            }
        }
        .btn:hover {
            background-color: #333;
        }
    }
    ul {
        list-style: none;
        float: left;
        display: block;
        width: 100%;
    }
    li {
        display: inline;
        width: 25%;
        float: left;
    }
}
