.flux-monitor {
    $panelWidth: 31rem;
    $white: #FFF;
    $light-grey: #DDD;
    left: 50%;
    .main {
        background-color: white;
        height: 40rem;
        width: $panelWidth;
        position: relative;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .3), 0 16px 40px rgba(0, 0, 0, .5);
        .title {
            height: 5rem;
            text-align: center;
            span {
                font-size: 1.6rem;
                color: #999;
                line-height: 5rem;
            }
            .back {
                font-size: 3rem;
                position: absolute;
                top: 0px;
                left: 15px;
                color: $primaryColor;
                cursor: pointer;

                img {
                    width: 28px;
                    position: relative;
                    top: 7px;
                    left: 4px;
                }
            }
            .back:hover {
                color: #333;
            }
            .close {
                width: 28px;
                height: 28px;
                right: 20px;
                top: 12px;
            }
        }
        .body {
            height: 70%;
            .device-content {
                padding: 0 20px;
                overflow-y: auto;
                height: 100%;
                img {
                    width: 100%;
                }
                .image-wrapper {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }
                .name {
                    font-size: 1rem;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    overflow: hidden;
                }
                .name.selected {
                    padding: 0 8px;
                    border-radius: 5px;
                    color: white;
                    background: #0950D0;
                }
                .folder {
                    color: $primaryColor;
                    display: inline-block;
                    width: 33%;
                    height: 80px;
                    position: relative;
                    background-image: url('../../img/folder.svg');
                    background-repeat: no-repeat;
                    background-size: 72px 60px;
                    background-position: top;
                    margin: 10px 0;
                    cursor: pointer;

                }
                .folder:hover {
                    color: #333;
                }
                .file {
                    text-align: center;
                    color: $primaryColor;
                    display: inline-block;
                    width: 33%;
                    height: 80px;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: 72px 60px;
                    background-position: top;
                    margin: 10px 0;
                    cursor: pointer;
                    img {
                        border: 1px solid #B3B3B3;
                        width: 60px;
                    }
                }
                .file:hover {
                    color: #333;
                }
                .spinner-wrapper {
                    position: absolute;
                    width: calc(100% - 20px);
                    margin: auto;
                    top: 200px;
                }
                .camera-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .status-info {
                    position: absolute;
                    width: 332px;
                    height: 100px;
                    bottom: 84px;
                    padding: 35px 10px 10px 10px;
                    text-shadow: 0 2px 5px rgba(0,0,0,0.15);

                    .verticle-align {
                        float: left;
                        position: relative;
                        bottom: -8px;
                        color: #FFF;

                        div {
                            margin: 5px 0;
                        }

                        .status-info-duration {
                            // float: left;
                        }
                    }
                    .status-info-progress {
                        float: right;
                        bottom: -8px;
                        position: relative;
                        font-size: 1.2em;
                        color: #FFF;
                    }
                }
                .status-info.running {
                    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
                }
            }
            .close {
                right: 20px;
            }
        }
        .operation {
            margin-top: 15px;
            .controls {
                position: absolute;
                color: $primaryColor;
                text-align: center;
                width: 60px;
                cursor: pointer;
                .description {
                    padding-top: 5px;
                    font-size: 1rem;
                    &.on {
                        color: #333;
                    }
                }
            }
            .controls:hover {
                color: #333;
                cursor: pointer;
                filter: brightness(80%);
                -webkit-filter: brightness(80%);
                >div {
                    opacity: 1;
                }
            }
            .disabled{
                pointer-events: none;
                opacity: 0.3;
            }
            .left {
                left: 2rem;
            }
            .center {
                margin: auto;
                left: 0;
                right: 0;
            }
            .right {
                right: 2rem;
            }
            .btn-control {
                cursor: pointer;
                background-size: 50px;
                background-position: 3px 0px;
                height: 33px;
                opacity: 0.4;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            .btn-go {
                background-image: url("/img/btn-run.svg");
            }
            .btn-stop {
                background-image: url("/img/btn-stop.svg");
            }
            .btn-pause {
                background-image: url("/img/btn-pause.svg");
            }
            .btn-download {
                background-image: url("/img/btn-download.svg");
            }
            .btn-upload {
                background-image: url("/img/btn-upload.svg");
            }
            .btn-camera {
                background-image: url("/img/btn-camera.svg");
                &.on {
                    opacity: 1;
                    &~div {
                        opacity: 1;
                    }
                }
            }
            input {
                bottom: 0;
                display: block;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: -20px;
                cursor: pointer;
                opacity: 0;
                width: 100%;
                height: 200px;
            }
        }
        .wait {
            text-align: center;
            margin-top: 30px;
            font-size: 1.2rem;
            color: #B3B3B3;
        }
    }
    .sub {
        background-color: white;
        height: 6rem;
        width: $panelWidth;
        position: relative;
        margin-top: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .3), 0 16px 40px rgba(0, 0, 0, .5);
        .wrapper {
            padding: 1.5rem 1.5rem 0 1.5rem;
            .row {
                font-size: 1.2rem;
                color: #888;
                div {
                    display: inline-block;
                }
                .right {
                    float: right;
                    text-align: right;
                }
            }
            .temperature {
                float: left;
                height: 20px;
            }
            .time-left {
            }
        }
        .actions {
            position: absolute;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            bottom: 1rem;
            width: 100%;
        }
        .btn {
            font-size: 1rem;
            color: #FFF;
            background-color: $primaryColor;
            border-radius: 0;
            margin: 0 0.25rem;
            padding: 0 12px;
            transition: none;
            .filament {
                width: 12rem;
            }
            .file {
                width: 8rem;
            }
            .monitor {
                width: 8rem;
            }
        }
        .btn:hover {
            background-color: #333;
        }
    }
    ul {
        list-style: none;
        float: left;
        display: block;
        width: 100%;
    }
    li {
        display: inline;
        width: 25%;
        float: left;
    }
}
