/**
 * modal
 */
.modal-window {
    @include flexbox();
    background: rgba(0, 0, 0, .1);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $max-z-index;
    align-items: center;
    justify-content: center;

    .modal-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .modal-body {
        @include flexbox();
        max-height: 100%;
        overflow: hidden;
    }

    .notification {
        width: 32.2rem;
        height: 25rem;
        background-color: #FFFFFF;
        position: relative;
        max-height: 100%;
        overflow: hidden;

        .modal-content {
            height: 80%;

            .wrapper {
                display:-webkit-box;
                -webkit-box-pack:center;
                -webkit-box-align:center;
                text-align: center;
            }

            h4 {
                margin: 0;
                font-size: 2em;
                color: #B3B3B3;
                display: inline-block;
            }

            span {
                font-size: 1.8em;
                color: #B3B3B3;
                display: inline-block;
                padding: 0 21px;
            }
        }

        .modal-actions {
            text-align: center;

            .btn {
                color: #B3B3B3;
                border: 1px solid #B3B3B3;
                width: 13rem;
                margin: 0 5px;
            }
        }
    }

    .modal-alert {
        @include flexbox();
        background: #FFF;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        flex-direction: column;
        min-height: 25rem;
        min-width: 32.2rem;
        overflow: auto;
        padding: 1.6rem 2.8rem 4.4rem 2.8rem;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;

        .caption,
        .message {
            margin: 0 0 1.6rem 0;
            width: 100%;
        }
        pre.message {
            font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif, "Microsoft JhengHei", "微軟正黑體";
        }
    }

    .message {
        word-break: break-all;
        word-wrap: break-word;
    }

    .btn-h-group {
        bottom: 1.6rem;
        left: 2.8rem;
        position: absolute;
        right: 2.8rem;

        .btn {
            font-size: 1.3rem;
            height: 2.8rem;
            line-height: 2.8rem;
            margin: 0 .6rem 0 0;
            max-width: 13rem;
            flex: 1;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.modal-progress {
    .spinner-roller {
        background: linear-gradient(to right, #DEDEDC 10%, rgba(255, 255, 255, 0) 42%);
        height: 7em;
        margin: 0 auto 1.6rem auto;
        width: 7em;

        &::after {
            background: #fff;
        }
    }

    .progress-bar {
        background: #ccc;
        height: 2rem;
        overflow: hidden;

        .current-progress {
            background: #777;
            content: "";
            display: block;
            height: 100%;
            transition: width .3s ease;
            width: 0;
        }
    }
}

.modal-input-lightbox {
    .modal-alert {
        display: block;
        min-height: 18rem;
        text-align: left;
        width: 32.2rem;
    }

    .control {
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        .inputHeader {
            color: #ccc;
        }
    }

    .btn-h-group {
        border: none;
        border-top: 1px solid #ccc;
        bottom: 0;
        left: 0;
        padding: 1.6rem 0;
        right: 0;
    }
}

.modal-update {
    color: #989898;

    .update-wrapper {
        background: #fff;
        padding: 20px;
        width: 32.2rem;
    }

    .caption {
        color: #626262;
        font-size: 15px;
        line-height: 18px;
    }

    .caption,
    .update-brief,
    .release-note-content {
        margin: 0 0 20px 0;
    }

    .update-brief {
        font-size: 12px;
        line-height: 18px;

        p {
            margin: 0;
        }
    }

    .release-note-caption {
        margin: 0;
    }

    .release-note-content {
        border: 2px solid #989898;
        height: 90px;
        overflow: scroll;
        padding: 3px;
    }

    .action-button {
        @include flexbox();
        justify-content: space-between;
    }

    .btn-h-group {
        position: static;
        width: 50%;
    }
}
