/**
 * the view of printer selector
 */
.select-printer {
    background: #FFF;
    color: #b3b3b3;
    font-size: 1rem;
    height: 15.6rem;
    padding: .8rem;
    position: absolute;
    width: 30.3rem;
    z-index: 1;

    .spinner-roller {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .device-wrapper {
        position: relative;
    }

    .arrow {
        bottom: 3.6rem;
        left: 100%;
        position: absolute;
        fill: #fff;
    }

    .device {
        @include flexbox();
        justify-content: 1;

        .col {
            height: 2.8rem;
            line-height: 2.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }

        .device-name {
            padding: 0 0 0 0.8rem;
            flex: calc(11 / 28.7 * 100%);
        }

        .module {
            flex: calc(2 / 28.7 * 100%);
        }

        .status {
            flex: calc(6 / 28.7 * 100%);
        }

        .connection-type {
            flex: calc(1 / 28.7 * 100%);
            padding-top: 3px;
        }

        .close {
            cursor: pointer;
            position: absolute;
            right: 2px;
        }
    }

    .device-wrapper {
        height: 100%;
        width: 100%;
    }

    .printer-list {
        list-style: none;
        height: 100%;
        margin: 0 auto;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        will-change: transform;

        .printer-item {
            cursor: pointer;

            [name="printer-group"] {
                display: none;
            }

            &:hover {
                background: #b3b3b3;
                color: #fff;
            }
        }
    }
}
