/**
 * the view of printer selector
 */
.select-printer {
    background: #FFF;
    color: #b3b3b3;
    font-size: 1rem;
    height: 15.6rem;
    padding: .8rem;
    position: absolute;
    width: 30.3rem;
    z-index: 1;

    .device-wrapper {
        position: relative;
    }

    .arrow {
        bottom: 3.6rem;
        left: 100%;
        position: absolute;
        fill: #fff;
    }

    .device {
        @include flexbox();
        justify-content: 1;

        .col {
            height: 2.8rem;
            line-height: 2.8rem;
        }

        .device-name {
            padding: 0 0 0 1.7rem;
            flex: calc(12 / 28.7 * 100%);
        }

        .module {
            flex: calc(7 / 28.7 * 100%);
        }

        .status {
            flex: calc(5 / 28.7 * 100%);
        }
    }

    .printer-list {
        list-style: none;
        margin: 0 auto;
        max-height: calc(100% - 2.8rem);
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;

        .printer-item {
            cursor: pointer;

            [name="printer-group"] {
                display: none;
            }

            &:hover {
                background: #b3b3b3;
                color: #fff;
            }
        }
    }
}