/**
 * top menu
 */
.top-menu {
    position: fixed;
    width: 100%;
    z-index: $max-z-index;

    .brand-logo {
        cursor: pointer;
        left: 24px;
        position: absolute;
        top: 24px;

        .logo-icon,
        .menu {
            float: left;
        }

        .logo-icon {
            width: 49px;
            transition: all .25s;
        }

        .func-name {
            color: #B3B3B3;
            font-size: 40px;
            font-weight: lighter;
            line-height: 49px;
            padding: 0 0 0 21px;
        }

        .menu {
            background: #fff;
            display: none;
            left: 5.05rem;
            padding: .65rem 2.6rem;
            position: relative;
            top: 27px;

            .arrow-flat {
                left: 0;
                position: absolute;
                transform: translateX(-100%);
                top: 0;

                polygon {
                    fill: #fff;
                }
            }

            .inner-menu {
                @include flexbox();
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        &:hover {
            .menu {
                display: block;
            }

            .logo-icon {
                transform: rotate(90deg);
            }

            .func-name {
                display: none;
            }
        }
    }

    .item {
        color: #b3b3b3;
        font-size: 1rem;
        margin: 0 3.3rem 0 0;
        padding: 0;
        text-align: center;
        flex: 1;

        img {
            height: 3.2rem;
            margin: 0 auto;
            transform-origin: 50% 50%;
            width: 3.2rem;
            transition: all .25s;
        }

        p,
        &:last-child {
            margin: 0;
        }
    }

    .device {
        font-size: 1rem;
        line-height: 2rem;
        position: absolute;
        right: 24px;
        text-decoration: none;
        text-align: right;
        top: 24px;
        cursor: pointer;

        img {
            height: 3.6rem;
            margin: 0 auto;
            transform-origin: 50% 50%;
            width: 3.6rem;
            transition: all .25s;
            transform: rotate(60deg);
        }
        &:hover img {
            transform: rotate(240deg);
        }
        p {
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: #B3B3B3;
        }

        .menu {
            background: #fff;
            position: relative;
            top: -50px;
            right: 100px;
            display: none;

            .arrow {
                right: -72px;
                position: absolute;
                transform: translateX(-100%);
                top: 0;

                polygon {
                    fill: #fff;
                }
            }

            .device-list {
                padding: 0.8rem;
                list-style: none;
                margin: 0;
                text-align: left;
                cursor: pointer;
                height: 160px;
                .select-printer {
                    position: relative;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    border: 1px solid #B3B3B3;
                    color: #B3B3B3;
                    font-weight: 500;
                    font-size: 12px;
                    font-family: Helvetica Neue;
                    overflow-y: scroll;
                    height: 100%;

                    li {
                        @include flexbox();
                        line-height: 2.8rem;
                        label {
                            cursor: pointer;
                        }
                        .name {
                            width: 12rem;
                            padding: 0 0 0 0.8rem;
                        }

                        .status {
                            width: 16rem;
                        }
                        &:hover {
                            background-color: #B3B3B3;
                            color: #FFF;
                        }
                    }
                }
            }
            &.show {
                display: block;
            }
        }
    }

    .always-top {
        .modal-window {
            z-index: 99999;
        }
    }
}
