/**
 * top menu
 */
.top-menu {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #333;
    height: 85px;
    // overflow: hidden;
    -webkit-app-region: drag;

    .title {
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 45px;
    }

    .top-controls {
        display: inline-block;
        margin: 0px 20px 0 20px;
    }
    .zoom-controls {
        margin-left: 0px;
    }
    .top-scroll-cue {
        position: relative;
        float: left;
        width: 20px;
        height: 84px;
        text-align: center;
        color: #F8F8F8;
        img {
            opacity: 0.8;
            height: 15px;
            position: relative;
            top: calc(60% - 15px);
            filter: brightness(0) invert(100%);
        }
    }
    .top-btns {
        float: left;
        width: calc(100% - 100px);
        overflow-x: scroll;
        &::-webkit-scrollbar { 
            display: none;
        }
        .top-btn-container {
            height: 90px;
            width: 1000px;
        }
        .top-btn {
            opacity: 0.8;
            padding-top: 25px;
            display: inline-block;
            height: 84px;
            width: 60px;
            text-align: center;
            img {
                max-width: 28px;
                max-height: 28px;
            }
            .btn-label {
                letter-spacing: 0.5px;
                margin-top: 3px;
                color: #F8F8F8;
                font-size: 11px;
            }
            &:hover {
                opacity: 1.0;
            }
        }
    }
    
    
    .top-dropdown-control {
        .arrowup {
            width: 0; 
            height: 0;
            left: 0px;
            margin-top: 10px;
            margin-left: 10px;
            position: relative;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 16px solid #333;
            z-index: 1;
        }
        .top-btn {
            padding-top: 25px;
            height: 69px;
        }
        .dropdown-block {
            left: 0px;
            position: relative;
            background: #333;
            background-clip: content-box;
            z-index: 1;
        }
        .top-dropdown-content {
            position: absolute;
            display: none;
        }
        &:hover .top-dropdown-content {
            display: block;
        }
    }

    .item {
        color: $primaryColor;
        font-size: 1rem;
        padding: 0;
        text-align: center;
        cursor: pointer;
        width: 90px;

        img {
            height: 3.2rem;
            margin: 0 auto;
            transform-origin: 50% 50%;
            transition: all .25s;
            width: 3.2rem;
        }

        &:hover{
            filter: brightness(80%);
            -webkit-filter: brightness(80%);
        }

        p {
            text-align: center;
            margin: 0;
        }
    }

    .device {
        cursor: pointer;
        font-size: 11px;
        line-height: 2rem;
        position: absolute;
        right: 24px;
        text-align: right;
        text-decoration: none;
        top: 24px;

        .device-icon {
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 28px;
            opacity: 0.8;

            &:hover {
                opacity: 1.0;
            }

            img {
                height: 28px;
                margin: 0 0 7px 0;
                transform-origin: 50% 50%;
                transition: all .25s;
                width: 2em;
            }
        }

        p {
            color: #FFF;
            font-size: 11px;
            font-weight: 500;
            line-height: 12px;
            margin: 0;
        }

        .menu {
            background: #fff;
            display: none;
            position: fixed;
            z-index: 99;
            top: 25px;
            right: 80px;
            border-radius: 2px;

            .arrow {
                left: 100%;
                position: absolute;
                top: 0;
            }

            .device-list {
                cursor: pointer;
                height: 160px;
                list-style: none;
                margin: 0;
                padding: .8rem;
                text-align: left;

                .select-printer {
                    position: relative;
                }

                ul {
                    border: 1px solid $primaryColor;
                    border-radius: 2px;
                    color: $primaryColor;
                    font-family: Helvetica Neue;
                    font-size: 12px;
                    font-weight: 500;
                    height: 100%;
                    margin: 0;
                    overflow-y: scroll;
                    padding: 0;
                    width: 28rem;

                    .spinner-roller {
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    li {
                        @include flexbox();
                        line-height: 2.8rem;

                        label {
                            cursor: pointer;
                        }

                        .name {
                            padding-left: 5px;
                            width: 150px;
                        }

                        .status {
                            width: 110px;
                        }

                        .connection-type {
                            line-height: 20px;
                            padding-right: 10px;

                            img {
                                margin-top: 7px;
                                image-rendering: optimizeSpeed;
                                image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering: optimize-contrast;image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor;
                            }
                        }

                        .progress {
                            width: 50px;
                        }

                        .type {
                            padding-top: 3px;
                        }

                        &:hover {
                            background-color: $primaryColor;
                            color: #FFF;
                        }
                    }
                }
            }
            &.show {
                display: block;
            }
        }
    }

    .always-top {
        .modal-window {
            z-index: 99999;
        }
    }
}
