/**
 * top menu
 */
.top-menu {
    position: fixed;
    width: 100%;
    z-index: 1;

    .brand-logo {
        cursor: default;
        left: 24px;
        position: absolute;
        top: 24px;

        .logo-icon,
        .menu {
            float: left;
        }

        .logo-icon {
            transition: all .25s;
            width: 49px;
        }

        .func-name {
            color: $primaryColor;
            font-size: 40px;
            font-weight: lighter;
            line-height: 55px;
            padding: 0 0 0 21px;
        }

        .menu {
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            background: #fff;
            display: none;
            left: 5.05rem;
            padding: 1.8rem .65rem 1.5rem .65rem;
            position: relative;
            top: 27px;
            border-radius: 2px;
            border-top-left-radius: 0;

            .arrow-top-left-flat {
                box-shadow: -1px -1px 5px rgba(0,0,0,0.1);
                left: 0;
                position: absolute;
                top: 0;
                transform: translateX(-98%);
            }

            .inner-menu {
                @include flexbox();
                list-style: none;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                align-content: space-between;
                width: 450px;
                height: 65px;
            }

            .product-group-title {
                font-size: 12px;
                color: #999;
                margin: 5px 0 8px 20px;
            }
        }

        &:hover {
            .menu {
                display: block;
            }

            .logo-icon {
                transform: rotate(90deg);
            }

            .func-name {
                display: none;
            }
        }
    }

    .item {
        color: $primaryColor;
        font-size: 1rem;
        padding: 0;
        text-align: center;
        cursor: pointer;
        width: 90px;

        img {
            height: 3.2rem;
            margin: 0 auto;
            transform-origin: 50% 50%;
            transition: all .25s;
            width: 3.2rem;
        }

        &:hover{
            filter: brightness(80%);
            -webkit-filter: brightness(80%);
        }

        p {
            text-align: center;
            margin: 0;
        }
    }

    .device {
        cursor: pointer;
        font-size: 1rem;
        line-height: 2rem;
        position: absolute;
        right: 24px;
        text-align: right;
        text-decoration: none;
        top: 24px;

        .device-icon {
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 3.6rem;

            img {
                height: 3.6rem;
                margin: 0 0 7px 0;
                transform: rotate(60deg);
                transform-origin: 50% 50%;
                transition: all .25s;
                width: 3.6rem;
            }

            &:hover img {
                transform: rotate(240deg);
            }
        }

        p {
            color: #999;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            margin: 0;
        }

        .menu {
            background: #fff;
            display: none;
            position: relative;
            right: 80px;
            top: 11px;
            border-radius: 2px;

            .arrow {
                left: 100%;
                position: absolute;
                top: 0;
            }

            .device-list {
                cursor: pointer;
                height: 160px;
                list-style: none;
                margin: 0;
                padding: .8rem;
                text-align: left;

                .select-printer {
                    position: relative;
                }

                ul {
                    border: 1px solid $primaryColor;
                    border-radius: 2px;
                    color: $primaryColor;
                    font-family: Helvetica Neue;
                    font-size: 12px;
                    font-weight: 500;
                    height: 100%;
                    margin: 0;
                    overflow-y: scroll;
                    padding: 0;
                    width: 28rem;

                    .spinner-roller {
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    li {
                        @include flexbox();
                        line-height: 2.8rem;

                        label {
                            cursor: pointer;
                        }

                        .name {
                            padding-left: 5px;
                            width: 150px;
                        }

                        .status {
                            width: 110px;
                        }

                        .connection-type {
                            line-height: 20px;
                            padding-right: 10px;

                            img {
                                margin-top: 7px;
                                image-rendering: optimizeSpeed;
                                image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering: optimize-contrast;image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor;
                            }
                        }

                        .progress {
                            width: 50px;
                        }

                        .type {
                            padding-top: 3px;
                        }

                        &:hover {
                            background-color: $primaryColor;
                            color: #FFF;
                        }
                    }
                }
            }
            &.show {
                display: block;
            }
        }
    }

    .always-top {
        .modal-window {
            z-index: 99999;
        }
    }
}
