/**
 * global customize styles
 */

html,
body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif, "Microsoft JhengHei", "微軟正黑體";
    font-size: 12px;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    -webkit-user-select: none;
}

body {
    background-color: #FAFAFA;
    cursor: default;
    font-size: 16px;
    position: relative;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

/**
 * structure
 */
.wrapper {
    height: 100%;
}

.content {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.horizontal-menu .menu-item {
    float: left;
    width: auto;
}

.row-fluid {
    margin: 10px 0;
}

.row-fluid .col {
    float: left;
}

/* cols width */
@for $i from 1 through 12 {
    .span#{$i} {
        display: inline-block;
        @if $i < 12 {
            margin: 0 10px 0 0;
            width: calc(100% / 12 * #{$i} - 10px);
        }
        @else {
            width: 100%;
        }
    }
}

/* offset */
@for $i from 1 through 12 {
    .offset-left-#{$i} {
        margin-left: calc(100% / 12 * #{$i});
    }

    .offset-right-#{$i} {
        margin-right: calc(100% / 12 * #{$i});
    }
}

/* position */
.absolute-center {
    @include absolute-center();
}

/**
 * helper style
 */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* tooltip */
.tip {
    position: relative;

    &:hover::before {
        background: rgba(0, 0 , 0, .8);
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #FFF;
        content: attr(data-tip);
        display: block;
        font-size: 11px;
        height: 24px;
        left: -15px;
        line-height: 24px;
        min-width: 75px;
        position: absolute;
        text-align: center;
        white-space: nowrap;
        z-index: 1;
    }

}

.tip-bottom:hover::before {
    top: calc(100% + 5px);
}

.tip-right:hover::before {
    left: calc(100% + 5px);
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


/**
 * general style
 */

.border-circle {
    border-radius: 50%;
}

.hide {
    display: none;
}

.file-importer input[type="file"] {
    @include absolute-center();
    cursor: pointer;
    opacity: 0;
    width: 100%;
}

.pure-list {
    list-style: none;
    padding: 0;
}

.error {
    border: 2px solid #F00;
    box-sizing: border-box;
}

.sticky-bottom {
    bottom: 0;
    position: absolute;
}

.logo {
    position: absolute;
    left: 3.75rem;
    top: 24px;
    img {
        width: 4.25rem;
    }
}

// controls
select {
    background-color: transparent;
    background-image: url('/img/icon-3d-arrow-down.png');
    background-position: calc(100% - 4px) center;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    border: 0;
    border-bottom: 1px #E0E0E0 solid;
    font-size: 14px;
    letter-spacing: 0.3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

// for slider
input[type=range] {
    margin: 6px 0;
    width: 100%;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #bbbbbb;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    height: 8px;
    width: 100%;
}
input[type=range]::-webkit-slider-thumb {
    background: #777777;
    border: 2.5px solid #777777;
    border-radius: 12px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    cursor: pointer;
    height: 20px;
    margin-top: -6px;
    width: 20px;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c5c5c5;
}

.readonly {
    pointer-events: none;
}

// setup panel (on left side of stage)
.setup-panel {
    position: absolute;

    .btn-action {
        border-radius: 3px;
        letter-spacing: .3px;
    }

    .main {
        background-color: #FFF;
        border-radius: 3px;

        .time {
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        .setup {
            height: 36px;
            margin-bottom: 20px;
            padding: 0 16px;
        }

        .last-setup {
            height: 56px;
            margin-bottom: 10px;
            padding-bottom: 20px;
        }
    }

    .main .setup > div {
        display: inline-block;
    }

    .main .setup .controls {
        margin-left: 16px;
        vertical-align: top;
        width: 65%;
    }

    .icon {
        background-size: 36px 36px;
        height: 36px;
        width: 36px;
    }

    .label {
        color: #9E9E9E;
        font-size: 11px;
        text-transform: uppercase;
    }

    .print-speed {
        background-image: url('/img/icon-speed.png');
        background-repeat: no-repeat;
    }

    .material {
        background-image: url('/img/icon-material.png');
        background-repeat: no-repeat;
    }

    .platform {
        background-image: url('/img/icon-platform.png');
        background-repeat: no-repeat;
    }

    .support {
        background-image: url('/img/icon-support.png');
        background-repeat: no-repeat;
    }

    .control {
        height: 1.1875rem;
    }

    .control label {
        color: #000;
        display: inline-block;
        font-size: 14px;
        letter-spacing: .3px;
    }
}

/* studio */
.studio-container {
    height: 100%;

    .btn-h-group {
        padding: 10px 0 10px 10px;

        .btn {
            margin: 0 0 0 10px;
        }
    }

    .top-menu-bar {
        height: 66px;
        letter-spacing: 0.3px;
        width: 100%;
    }

    .stage {
        height: 100%;
        position: relative;
    }

    .btn {
        margin-right: 5px;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .btn-success:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-info:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

    .btn-warning {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    .btn-warning:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }

    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }
}


// pull
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}